<div ng-controller="VolunteeringEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/volunteerings">Volunteerings</a></li>
            <li class="active">{{volunteering.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="border:0px; border-color:#ffffff">
            <tab heading="Volunteering" style="border:0px; border-color:#ffffff">
                <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
                    <button class="btn btn-primary pull-right" ng-click="saveVolunteeringDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                    <!--<button class="btn btn-danger pull-right" style="margin-right:10px;"  ng-click="deleteVolunteering()" >Delete</button>-->
                </div>
                <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);">
                    <form class="form-horizontal"  name="form.validateForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Enabled</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="volunteering.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="volunteering.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tracking Pixel URL</label>
                            <div class="col-sm-6">
                                <a class="form-control w-s--nw of--h t-o--e" target="_blank" ng-href="{{CommonUtil.getPixelUrl('volunteer_oppotunity', volunteering._id)}}">
                                    {{CommonUtil.getPixelUrl('volunteer_oppotunity', volunteering._id)}}
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <div ckeditor="CommonUtil.ckeditorOptions" ng-model="volunteering.description"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Internal Notes</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="volunteering.notes" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categories</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.categories" theme="bootstrap" close-on-select="false" title="Select categories" on-select="valueSelected($select)">
                                        <ui-select-match placeholder="Select categories">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in categoryList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!-- <button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($volunteering)">Quick Pick</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Client</label>
                            <div class="col-sm-6">
                                <select ng-model="volunteering.community" class="form-control w100">
                                    <option value="">None</option>
                                    <option ng-repeat="item in communityList" value="{{item._id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tags</label>
                            <div class="col-sm-6">
                                <ui-select class="w100" multiple tagging tagging-label="false" ng-model="volunteering.tags" theme="bootstrap" >
                                    <ui-select-match placeholder="Add tags">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="item in tagList | filter:$select.search">
                                        {{item}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group" ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Collections</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.collections" theme="bootstrap" close-on-select="false" title="Select collections">
                                        <ui-select-match placeholder="Select collections">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in collectionList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($volunteering)">Quick Pick</button>-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cover Image</label>
                            <div class="col-sm-6">
                                <div class="upload-file-container pointer" style="width:320px;height:160px" ng-click="selectFileOpen('coverImageFile',$event)">
                                    <div ng-hide="volunteering.coverImage" style="height:160px;background-image: url('{{uploadingFileUrl}}');background-size:cover" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                                        <div class="drop-informer">
                                            Drop image here or <a href="" ng-click="searchImages2($event, 'coverImage')">search for one</a>
                                        </div>
                                    </div>
                                    <div ng-if="volunteering.coverImage">
                                        <a href="{{CommonUtil.getDownloadURL(volunteering.coverImage)}}" target="_blank">
                                            <img ng-src="{{CommonUtil.getSmallImage3(volunteering.coverImage)}}"  class="coverPhoto">
                                        </a>
                                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                                    </div>
                                    <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage','image');">
                                    <div data-ng-show="isUploading['coverImage']" class="file-loading">
                                        <div style="margin-top: 70px;">
                                            <div class="file-progress">
                                                <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Points</label>
                            <div class="col-sm-6">
                                <input input-number type="number" class="form-control" ng-model="volunteering.points">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Time Required</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="volunteering.timeRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website URL</label>
                            <div class="col-sm-6">
                                <input type="url" class="form-control" ng-model="volunteering.url">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 1</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="volunteering.address1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 2</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="volunteering.address2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="volunteering.city">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-6">
                                <select ng-model="volunteering.state" class="form-control w100">
                                    <option value="">Select a State</option>
                                    <option ng-repeat="item in stateList" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Postal Code</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="volunteering.postalCode">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location</label>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label>Latitude</label>
                                </div>
                                <input class="form-control" ng-model="volunteering._geoloc[1]" placeholder="Latitude">
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label>Longitude</label>
                                </div>
                                <input class="form-control" ng-model="volunteering._geoloc[0]" placeholder="Longitude">
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label></label>
                                </div>
                                <button class="btn btn-primary" ng-click="geocodeAddress()">Geocode Address</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Checkin Radius</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="volunteering.checkinRadius" placeholder="300">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Starts At</label>
                            <div class='col-sm-6'>
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" style="width:100%">
                                        <div class="input-group"><input type="text" class="form-control" data-ng-model="formData.StartsAt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </span>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.StartsAt" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', modelType: 'YYYY-MM-DD LT' }"/>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ends At</label>
                            <div class='col-sm-6'>
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" style="width:100%">
                                        <div class="input-group"><input type="text" class="form-control" data-ng-model="formData.EndsAt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </span>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="formData.EndsAt" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'YYYY-MM-DD LT' }"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Repeatable</label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="volunteering.repeatable" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <!--style="border: 1px solid #ff0000"-->
                        <div class="form-group" ng-if="volunteering.repeatable">
                            <label class="col-sm-3 control-label">Repeat Interval</label>
                            <div class="col-sm-3" >
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="col-sm-3 form-control" style="float:left" ng-model="formData.intervalminute" min="0" max="60">
                                </div>
                                <label class="col-sm-3 control-label">(min)</label>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="form-control" ng-model="formData.intervalhour" min="0" max="23">
                                </div>
                                <label class="col-sm-3 control-label">(hour)</label>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="form-control" ng-model="formData.intervalday" min="0">
                                </div>
                                <label class="col-sm-3 control-label">(day)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bottom-button no-border" style="padding-top: 0">
                    <button class="btn btn-primary pull-right" ng-click="saveVolunteeringDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                </div>
            </tab>
            <tab heading="User Activity" style="border:0px; border-color:#ffffff">
                <ng-include src="'views/templates/userActivities.html'"></ng-include>
            </tab>
        </tabset>
    </div> <!-- container-fluid -->
</div>
