<div ng-controller="CollectionController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active">Collections</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel panel-class="panel-default">
                    <div>
                        <div class="pull-left">
                            <h2>{{collectionList.length}} Collections</h2>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="createCollection()">New Collection</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th ng-if="!user.communityAdmin">Client</th>
                                    <th>Enabled</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in collectionList" ng-click="editCollection(item)" style="cursor: pointer;">
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.slug}}
                                    </td>
                                    <td ng-if="!user.communityAdmin">
                                        {{item.community?item.community.name:''}}
                                    </td>
                                    <td>
                                        {{CommonUtil.convertBoolean(item.enabled)}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteCollection(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </panel>
            </div>
            <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                    <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="editCollection.html">
            <div class="modal-header">
                <h3 class="modal-title">Collection</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  name="form.validateForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="collection.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Slug</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="collection.slug" required>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!user.communityAdmin">
                        <label class="col-sm-3 control-label">Client</label>
                        <div class="col-sm-9">
                            <select ng-model="collection.community" class="form-control w100">
                                <option value="">Select a Client</option>
                                <option ng-repeat="item in communityList" value="{{item._id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Enabled</label>
                        <div class="col-sm-9">
                            <input type="checkbox" ng-model="collection.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Cover Image</label>
                        <div class="col-sm-6">
                            <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('coverImageFile',$event)">
                                <div ng-hide="collection.coverImage" style="height:120px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                                    <div class="drop-informer">
                                        Drop image here
                                    </div>
                                </div>
                                <div ng-show="collection.coverImage">
                                    <a href="" ng-click="CommonUtil.openURL($event, collection.coverImage)">
                                        <img ng-src="{{CommonUtil.getSmallImage3(collection.coverImage)}}" style="width: 320px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                                    <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage','image');">
                                </div>
                                <div data-ng-show="isUploading['coverImage']" class="file-loading">
                                    <div style="margin-top: 50px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()">Cancel</button>
                <button class="btn btn-primary" ng-click="saveCollectionDo()"  ng-disabled="!canSubmitValidationForm()">Save Collection</button>
            </div>
        </script>
    </div> <!-- container-fluid -->
</div>
