<div ng-controller="CommunityEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/communities">Clients</a></li>
            <li class="active">{{community.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="padding:20px; border:0px; border-color:#ffffff">
            <tab heading="Main" style="border:0px; border-color:#ffffff">
                <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
                    <button class="btn btn-primary pull-right" ng-click="saveCommunityDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
                </div>
                <div class="panel" style="padding:20px;">
                    <form class="form-horizontal"  name="form.validateForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Code</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.code" required minlength="2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-6">
                                <select ng-model="community.status" class="form-control w100">
                                    <option value="">Select a Status</option>
                                    <option value="Live">Live</option>
                                    <option value="Onboarding">Onboarding</option>
                                    <option value="Demo">Demo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="community.description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 1</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.address1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 2</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.address2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.city">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-6">
                                <select ng-model="community.state" class="form-control w100">
                                    <option value="">Select a State</option>
                                    <option ng-repeat="item in stateList" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Postal Code</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.postalCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location</label>
                            <div class="col-sm-3" style="">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label style="">Latitude</label>
                                </div>
                                <input  class="form-control" ng-model="community._geoloc[1]" placeholder="Latitude">
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label>Longitude</label>
                                </div>
                                <input  class="form-control" ng-model="community._geoloc[0]" placeholder="Longitude">
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label></label>
                                </div>
                                <button class="btn btn-primary" ng-click="geocodeAddress()">Geocode Address</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Points</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.points" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Collections</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.collections" theme="bootstrap" close-on-select="false" title="Select collections">
                                        <ui-select-match placeholder="Select collections">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in collectionList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categories</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.categories" theme="bootstrap" close-on-select="false" title="Select categories">
                                        <ui-select-match placeholder="Select categories">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in categories | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">Sprint</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.sprints" theme="bootstrap" close-on-select="false" title="Select sprints">
                                        <ui-select-match placeholder="Select sprints"> {{$item.collection.name + '(' + $item.startDate + '~' + $item.endDate + ')'}}</ui-select-match>
                                        <ui-select-choices repeat="item in sprintList | filter:$select.search">
                                            {{item.collection.name + '(' + item.startDate + '~' + item.endDate + ')'}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Logo</label>
                            <div class="col-sm-6 upload-file-container pointer" ng-click="selectFileOpen('logoFile', $event)">
                                <div ng-hide="community.logo" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'logo')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="community.logo" drag-and-drop drop-handler="onFileUpload(files,'logo')">
                                    <a href="" ng-click="CommonUtil.openURL($event, community.logo)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(community.logo)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash" ng-click="deleteFile('logo', $event)"></i>
                                    <input type="file" name="logo" id="logoFile" onchange="angular.element(this).scope().onFileUpload(this.files,'logo');" aria-label="logo" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['logo']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['logo']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">White labeled</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.whitelabeled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Only allow whitelisted users</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.whitelistEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Enable Carbon Tracker</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.carbonTrackerEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Enable Domain Restrictions</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.enableDomainRestrictions" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div ng-if="community.enableDomainRestrictions">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Whitelisted domains</label>
                                <div class="col-sm-6">
                                    <ui-select class="w100" multiple tagging tagging-label="false" ng-model="community.whitelistedDomains" theme="bootstrap" >
                                        <ui-select-match placeholder="Add domains">{{$item.toLowerCase()}}</ui-select-match>
                                        <ui-select-choices repeat="item in whitelistedDomains | filter:$select.search">
                                            {{item}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Enable Teams</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.teamsEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Enable Profile Charts</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.profileChartsEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Ask for Race in sign-up form</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.promptForRace" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Ask for ZIP code in sign-up form</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.promptForZipCode" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="col-sm-12 section-title">
                            <span class="col-sm-3 text-right">App Sharing</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Share Message</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="community.shareMessage"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Share URL</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.shareUrl">
                            </div>
                        </div>
                        <div class="col-sm-12 section-title">
                            <span class="col-sm-3 text-right">Welcome Email</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Welcome Email Enabled</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.welcomeEmailEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Subject</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.welcomeEmailSubject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Call-to-Action</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.welcomeEmailAction">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">CTA Link</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="community.welcomeEmailActionURL">
                            </div>
                        </div>
                        <div class="col-sm-12 section-title">
                            <span class="col-sm-3 text-right">Content</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Actions</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.actionsEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div ng-if="community.actionsEnabled">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Include MilkCrate Actions</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" ng-model="community.includeCommonActions" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Actions Title</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.actionsTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Actions Descriptions</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.actionsDescription">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Places</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.placesEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div ng-if="community.placesEnabled">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Include MilkCrate Places</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" ng-model="community.includeCommonPlaces" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Places Title</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.placesTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Places Descriptions</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.placesDescription">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Events</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.eventsEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div ng-if="community.eventsEnabled">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Include MilkCrate Events</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" ng-model="community.includeCommonEvents" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Events Title</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.eventsTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Events Descriptions</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.eventsDescription">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Volunteer Opportunities</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.volunteerOpportunitiesEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div ng-if="community.volunteerOpportunitiesEnabled">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Include MilkCrate Volunteer Opportunities</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" ng-model="community.includeCommonVolunteerOpportunities" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Volunteer Opportunities Title</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.volunteerOpportunitiesTitle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Volunteer Opportunities Descriptions</label>
                                <div class="col-sm-6">
                                    <input class="form-control" ng-model="community.volunteerOpportunitiesDescription">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-weight: bold">Show Categories on Search Screen</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="community.showCategoriesInSearch" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bottom-button no-border" style="padding-top: 0">
                    <button class="btn btn-primary pull-right" ng-click="saveCommunityDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
                </div>
            </tab>
            <tab heading="Tasks({{tasks.length}})" style="border:0px; border-color:#ffffff" ng-if="communityId" ng-controller="TasksController">
                <script type="text/ng-template" id="items_renderer.html">
                    <div class="task-container" as-sortable-item-handle>
                        <!-- <input type="checkbox"> -->
                        <span class="label label-{{item.color || 'primary'}}" ng-show="!item.editing"></span>
                        <span class="task-description" ng-show="!item.editing">{{item.title}}</span>

                        <form class="form-horizontal" ng-submit="doneEditing(item)" ng-show="item.editing" data-nodrag>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <div class="btn-group" dropdown style="">
                                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                                    <div class="label label-{{item.color||'primary'}} color-block"></div>
                                                </button>
                                                <ul class="dropdown-menu dropdown-colors" role="menu">
                                                    <li><span class="label label-success" ng-click="item.color='success'"></span></li>
                                                    <li><span class="label label-primary" ng-click="item.color='primary'"></span></li>
                                                    <li><span class="label label-warning" ng-click="item.color='warning'"></span></li>
                                                    <li><span class="label label-danger" ng-click="item.color='danger'"></span></li>
                                                    <li><span class="label label-info" ng-click="item.color='info'"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control no-validate" ng-model="item.title" placeholder="Task title..." ng-keyup="cancelEdit($event, item)">
                                        <div class="input-group-btn">
                                            <input type="submit" class="btn btn-primary" value="Save" / >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="options todooptions">
                        <div class="btn-group" ng-show="!item.editing">
                            <button data-nodrag class="btn btn-default btn-xs" ng-click="complete(this, item)"><i class="glyphicon glyphicon-ok"></i></button>
                            <button data-nodrag class="btn btn-default btn-xs" ng-click="edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button data-nodrag class="btn btn-default btn-xs" ng-click="remove(this, item)"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                    </div>
                </script>

                <div class="row">
                    <div class="col-xs-12">

                        <div>
                            <div style="display: inline-block;padding:10px 0;width: 100%">
                                <button class="btn btn-primary btn-sm pull-right" ng-click="showForm=true;showTasksTab=true;showCompletedTab=false" style="margin-top: -5px;">Add Task</button>
                            </div>
                            <div>
                                <form class="form-horizontal" name="create_task" ng-show="showForm">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <div class="btn-group" dropdown style="">
                                                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                                            <div class="label label-{{newTaskColor||'primary'}} color-block"></div>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-colors" role="menu">
                                                            <li><span class="label label-success" ng-click="newTaskColor='success'"></span></li>
                                                            <li><span class="label label-primary" ng-click="newTaskColor='primary'"></span></li>
                                                            <li><span class="label label-warning" ng-click="newTaskColor='warning'"></span></li>
                                                            <li><span class="label label-danger" ng-click="newTaskColor='danger'"></span></li>
                                                            <li><span class="label label-info" ng-click="newTaskColor='info'"></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control no-validate" ng-model="newTaskTitle" placeholder="Task title..." ng-keyup="cancelAdd($event)">

                                                <div class="input-group-btn">
                                                    <button
                                                            ng-click="newItem(newTaskTitle, newTaskLabelText, newTaskColor)"
                                                            class="btn btn-success btn-block"
                                                    >Add Task</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xs-3 col-md-2">

                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div id="tasks-demo">
                                <div class="tasklist">
                                    <ul ng-model="tasks" as-sortable="{containerPositioning: 'relative', containment: '#tasks-demo'}" class="panel-tasks">
                                        <li
                                                as-sortable-item
                                                ng-repeat="item in tasks"
                                                ng-include="'items_renderer.html'"
                                                ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
                                        >
                                        </li>
                                    </ul>
                                </div>
                                <div class="tasklist">
                                    <ul ng-model="tasksComplete" as-sortable="{containerPositioning: 'relative', containment: '#tasks-demo'}" class="panel-tasks completed">
                                        <li
                                                as-sortable-item
                                                ng-repeat="item in tasksComplete"
                                                ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
                                        >
                                            <div class="task-container">
                                                <span class="label label-{{item.color || 'primary'}}" ng-show="item.label"></span>
                                                <span class="task-description">{{item.title}}</span>
                                            </div>
                                            <div class="options todooptions">
                                                <div class="btn-group" ng-show="!item.editing">
                                                    <button data-nodrag class="btn btn-default btn-xs" ng-click="incomplete(item, $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </panel>

                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="White Label" style="border:0px; border-color:#ffffff" ng-if="communityId">
                <ng-include src="'views/communities/whiteLabel.html'"></ng-include>
            </tab>
            <tab heading="White list" style="border:0px; border-color:#ffffff" ng-if="communityId">
              <ng-include src="'views/communities/whitelist.html'"></ng-include>
            </tab>
            <tab heading="Push" style="border:0px; border-color:#ffffff" ng-if="communityId">
                <ng-include src="'views/communities/push.html'"></ng-include>
            </tab>
        </tabset>
    </div> <!-- container-fluid -->
</div>
