<div ng-controller="CommunityController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">Clients</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel panel-class="panel-default">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2>{{communityList.length}} Clients</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-4">
                            <select class="form-control" ng-model="filter.status" ng-change="onSearch()">
                                <option value="">All Clients</option>
                                <option ng-repeat="item in statusList" ng-selected="filter.status == item" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-primary" ng-click="createCommunity()">New Client</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Location</th>
                                    <th>Description</th>
                                    <th>Total Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in communityList" ng-click="editCommunity(item)" style="cursor: pointer;">
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.code}}
                                    </td>
                                    <td>
                                        {{item.location}}
                                    </td>
                                    <td>
                                        {{item.description}}
                                    </td>
                                    <td>
                                        {{item.points}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteCommunity(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </panel>
            </div>
            <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                    <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="editCommunity.html">
            <div class="modal-header">
                <h3 class="modal-title">Client</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()">Cancel</button>
                <button class="btn btn-primary" ng-click="saveCommunityDo()"  ng-disabled="!canSubmitValidationForm()">Save Client</button>
            </div>
        </script>
    </div> <!-- container-fluid -->
</div>
