<div ng-controller="ContentController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active">Content</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;border-top: 2px solid #87858C;">
            <button class="btn btn-primary pull-right" ng-click="saveCommunityDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
        </div>
        <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);">
            <form class="form-horizontal"  name="form.validateForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Collections</label>
                    <div class="col-sm-6">
                        <div class="w100" style="position:relative">
                            <ui-select class="w100" multiple ng-model="formData.collections" theme="bootstrap" close-on-select="false" title="Select collections">
                                <ui-select-match placeholder="Select collections">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="item in collectionList | filter:$select.search">
                                    {{item.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="font-weight: bold">Actions</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="community.actionsEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                    </div>
                </div>
                <div ng-if="community.actionsEnabled">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Include MilkCrate Actions</label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="community.includeCommonActions" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Actions Title</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.actionsTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Actions Descriptions</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.actionsDescription">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="font-weight: bold">Places</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="community.placesEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                    </div>
                </div>
                <div ng-if="community.placesEnabled">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Include MilkCrate Places</label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="community.includeCommonPlaces" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Places Title</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.placesTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Places Descriptions</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.placesDescription">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="font-weight: bold">Services</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="community.servicesEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                    </div>
                </div>
                <div ng-if="community.servicesEnabled">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Include MilkCrate Services</label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="community.includeCommonServices" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Services Title</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.servicesTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Services Descriptions</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.servicesDescription">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="font-weight: bold">Events</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="community.eventsEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                    </div>
                </div>
                <div ng-if="community.eventsEnabled">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Include MilkCrate Events</label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="community.includeCommonEvents" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Events Title</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.eventsTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Events Descriptions</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.eventsDescription">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="font-weight: bold">Volunteer Opportunities</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="community.volunteerOpportunitiesEnabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                    </div>
                </div>
                <div ng-if="community.volunteerOpportunitiesEnabled">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Include MilkCrate Volunteer Opportunities</label>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="community.includeCommonVolunteerOpportunities" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Volunteer Opportunities Title</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.volunteerOpportunitiesTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Volunteer Opportunities Descriptions</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="community.volunteerOpportunitiesDescription">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="font-weight: bold">Show Categories on Search Screen</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="community.showCategoriesInSearch" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- container-fluid -->
</div>
