<div ng-controller="CommunityPushTabController">
    <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
        <button class="btn btn-primary pull-right" ng-click="saveDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
    </div>
    <div class="panel" style="padding:20px;">
        <form class="form-horizontal"  name="form.validateForm">
            <div class="form-group">
                <label class="col-sm-3 control-label">p12 file(iOS only)</label>
                <div class="col-sm-6">
                    <div class="upload-file-container2 pointer" ng-click="selectFileOpen('appleCertificateFile', $event)">
                        <div ng-hide="pushConfig.appleCertificate" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'appleCertificate')">
                            <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                Drop p12 file here to upload.
                            </div>
                        </div>
                        <div ng-show="pushConfig.appleCertificate" drag-and-drop drop-handler="onFileUpload(files,'appleCertificate')">
                            <a ng-href="{{pushConfig.appleCertificate._downloadURL}}" target="_blank">
                                {{pushConfig.appleCertificate._filename}}
                            </a>
                            <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('appleCertificate', $event)" style="position: relative;margin-left:10px;"></i>
                            <input type="file" name="appleCertificateFile" id="appleCertificateFile" onchange="angular.element(this).scope().onFileUpload(this.files,'appleCertificate');" ng-show="false">
                        </div>
                        <div data-ng-show="isUploading['appleCertificate']" class="file-loading">
                            <div style="margin-top: 70px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['appleCertificate']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Android Key</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="pushConfig.androidKey" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Development Endpoint</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="pushConfig.devEndpointName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Production Endpoint</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="pushConfig.prodEndpointName">
                </div>
            </div>
        </form>
    </div>
    <div class="bottom-button no-border" style="padding-top: 0">
        <button class="btn btn-primary pull-right" ng-click="saveDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
    </div>
</div>
