<div class="modal-header">
  <h3 class="modal-title">Add Emails</h3>
</div>
<div class="modal-body">
  <div>
    <p><strong>Add Emails:</strong></p>
    <textarea
      ng-model="whitelistEmails"
      style="height:20rem"
      type="text"
      rows="3"
      placeholder=""
      class="form-control"
    />
  </div>
  <hr>
  <div class="text-right">
    <!-- <button class="btn btn-primary" data-ng-disabled="!validate()" ng-click="proceed()">Save</button> -->
    <button class="btn btn-primary" ng-click="addToWhitelist()">Add to Whitelist</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
