<div ng-controller="CommunityWhiteLabelController">
    <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
        <button class="btn btn-primary pull-right" ng-click="saveDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
    </div>
    <div class="panel" style="padding:20px;">
        <form class="form-horizontal"  name="form.validateForm">
            <div class="form-group">
                <label class="col-sm-3 control-label">App Name</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="clientAppConfig.appName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">iOS App Description</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="clientAppConfig.iosAppDescription" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Android App Description</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="clientAppConfig.androidAppDescription" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Welcome Background</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('welcomeBackground1File', $event)">
                                <div ng-hide="clientAppConfig.welcomeBackground1" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground1')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.welcomeBackground1" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground1')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.welcomeBackground1)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.welcomeBackground1)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('welcomeBackground1', $event)"></i>
                                    <input type="file" name="welcomeBackground1" id="welcomeBackground1File" onchange="angular.element(this).scope().onFileUpload(this.files,'welcomeBackground1');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['welcomeBackground1']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['welcomeBackground1']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Title" ng-model="clientAppConfig.welcomeTitle1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control col-sm-12" placeholder="Subtitle" ng-model="clientAppConfig.welcomeSubtitle1">
                                </div>
                            </div>
                            <p class="text-center">Background 1</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('welcomeBackground2File', $event)">
                                <div ng-hide="clientAppConfig.welcomeBackground2" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground2')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.welcomeBackground2" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground2')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.welcomeBackground2)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.welcomeBackground2)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('welcomeBackground2', $event)"></i>
                                    <input type="file" name="welcomeBackground2" id="welcomeBackground2File" onchange="angular.element(this).scope().onFileUpload(this.files,'welcomeBackground2');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['welcomeBackground2']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['welcomeBackground2']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Title" ng-model="clientAppConfig.welcomeTitle2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control col-sm-12" placeholder="Subtitle" ng-model="clientAppConfig.welcomeSubtitle2">
                                </div>
                            </div>
                            <p class="text-center">Background 2</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('welcomeBackground3File', $event)">
                                <div ng-hide="clientAppConfig.welcomeBackground3" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground3')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.welcomeBackground3" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground3')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.welcomeBackground3)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.welcomeBackground3)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('welcomeBackground3', $event)"></i>
                                    <input type="file" name="welcomeBackground3" id="welcomeBackground3File" onchange="angular.element(this).scope().onFileUpload(this.files,'welcomeBackground3');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['welcomeBackground3']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['welcomeBackground3']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Title" ng-model="clientAppConfig.welcomeTitle3">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control col-sm-12" placeholder="Subtitle" ng-model="clientAppConfig.welcomeSubtitle3">
                                </div>
                            </div>
                            <p class="text-center">Background 3</p>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-4">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('welcomeBackground4File', $event)">
                                <div ng-hide="clientAppConfig.welcomeBackground4" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground4')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.welcomeBackground4" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground4')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.welcomeBackground4)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.welcomeBackground4)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('welcomeBackground4', $event)"></i>
                                    <input type="file" name="welcomeBackground4" id="welcomeBackground4File" onchange="angular.element(this).scope().onFileUpload(this.files,'welcomeBackground4');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['welcomeBackground4']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['welcomeBackground4']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Title" ng-model="clientAppConfig.welcomeTitle4">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control col-sm-12" placeholder="Subtitle" ng-model="clientAppConfig.welcomeSubtitle4">
                                </div>
                            </div>
                            <p class="text-center">Background 4</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('welcomeBackground5File', $event)">
                                <div ng-hide="clientAppConfig.welcomeBackground5" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground5')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.welcomeBackground5" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground5')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.welcomeBackground5)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.welcomeBackground5)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('welcomeBackground5', $event)"></i>
                                    <input type="file" name="welcomeBackground5" id="welcomeBackground5File" onchange="angular.element(this).scope().onFileUpload(this.files,'welcomeBackground5');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['welcomeBackground5']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['welcomeBackground5']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Title" ng-model="clientAppConfig.welcomeTitle5">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control col-sm-12" placeholder="Subtitle" ng-model="clientAppConfig.welcomeSubtitle5">
                                </div>
                            </div>
                            <p class="text-center">Background 5</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('welcomeBackground6File', $event)">
                                <div ng-hide="clientAppConfig.welcomeBackground6" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground6')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.welcomeBackground6" drag-and-drop drop-handler="onFileUpload(files,'welcomeBackground6')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.welcomeBackground6)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.welcomeBackground6)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('welcomeBackground6', $event)"></i>
                                    <input type="file" name="welcomeBackground6" id="welcomeBackground6File" onchange="angular.element(this).scope().onFileUpload(this.files,'welcomeBackground6');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['welcomeBackground6']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['welcomeBackground6']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="Title" ng-model="clientAppConfig.welcomeTitle6">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control col-sm-12" placeholder="Subtitle" ng-model="clientAppConfig.welcomeSubtitle6">
                                </div>
                            </div>
                            <p class="text-center">Background 6</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">iOS App Icon(1024 x 1024)</label>
                <div class="col-sm-6 upload-file-container pointer" ng-click="selectFileOpen('iosAppIconFile', $event)">
                    <div ng-hide="clientAppConfig.iosAppIcon" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'iosAppIcon')">
                        <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                            Drop photo here to upload.
                        </div>
                    </div>
                    <div ng-show="clientAppConfig.iosAppIcon" drag-and-drop drop-handler="onFileUpload(files,'iosAppIcon')">
                        <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.iosAppIcon)">
                            <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.iosAppIcon)}}" style="max-width: 100%">
                        </a>
                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('iosAppIcon', $event)"></i>
                        <input type="file" name="iosAppIcon" id="iosAppIconFile" onchange="angular.element(this).scope().onFileUpload(this.files,'iosAppIcon');" ng-show="false">
                    </div>
                    <div data-ng-show="isUploading['iosAppIcon']" class="file-loading">
                        <div style="margin-top: 70px;">
                            <div class="file-progress">
                                <div class="progress-bar-warning" style="width:{{fileProgress['iosAppIcon']}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">iOS Screenshot</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('iosScreenshot1File', $event)">
                                <div ng-hide="clientAppConfig.iosScreenshot1" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot1')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.iosScreenshot1" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot1')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.iosScreenshot1)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.iosScreenshot1)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('iosScreenshot1', $event)"></i>
                                    <input type="file" name="iosScreenshot1" id="iosScreenshot1File" onchange="angular.element(this).scope().onFileUpload(this.files,'iosScreenshot1');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['iosScreenshot1']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['iosScreenshot1']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 1</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('iosScreenshot2File', $event)">
                                <div ng-hide="clientAppConfig.iosScreenshot2" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot2')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.iosScreenshot2" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot2')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.iosScreenshot2)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.iosScreenshot2)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('iosScreenshot2', $event)"></i>
                                    <input type="file" name="iosScreenshot2" id="iosScreenshot2File" onchange="angular.element(this).scope().onFileUpload(this.files,'iosScreenshot2');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['iosScreenshot2']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['iosScreenshot2']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 2</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('iosScreenshot3File', $event)">
                                <div ng-hide="clientAppConfig.iosScreenshot3" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot3')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.iosScreenshot3" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot3')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.iosScreenshot3)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.iosScreenshot3)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('iosScreenshot3', $event)"></i>
                                    <input type="file" name="iosScreenshot3" id="iosScreenshot3File" onchange="angular.element(this).scope().onFileUpload(this.files,'iosScreenshot3');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['iosScreenshot3']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['iosScreenshot3']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 3</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('iosScreenshot4File', $event)">
                                <div ng-hide="clientAppConfig.iosScreenshot4" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot4')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.iosScreenshot4" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot4')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.iosScreenshot6)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.iosScreenshot6)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('iosScreenshot4', $event)"></i>
                                    <input type="file" name="iosScreenshot4" id="iosScreenshot4File" onchange="angular.element(this).scope().onFileUpload(this.files,'iosScreenshot4');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['iosScreenshot4']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['iosScreenshot4']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 4</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('iosScreenshot5File', $event)">
                                <div ng-hide="clientAppConfig.iosScreenshot5" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot5')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.iosScreenshot5" drag-and-drop drop-handler="onFileUpload(files,'iosScreenshot5')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.iosScreenshot5)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.iosScreenshot5)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('iosScreenshot5', $event)"></i>
                                    <input type="file" name="iosScreenshot5" id="iosScreenshot5File" onchange="angular.element(this).scope().onFileUpload(this.files,'iosScreenshot5');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['iosScreenshot5']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['iosScreenshot5']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 5</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">Android App Icon(1024 x 1024)</label>
                <div class="col-sm-6 upload-file-container pointer" ng-click="selectFileOpen('androidAppIconFile', $event)">
                    <div ng-hide="clientAppConfig.androidAppIcon" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidAppIcon')">
                        <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                            Drop photo here to upload.
                        </div>
                    </div>
                    <div ng-show="clientAppConfig.androidAppIcon" drag-and-drop drop-handler="onFileUpload(files,'androidAppIcon')">
                        <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidAppIcon)">
                            <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidAppIcon)}}" style="max-width: 100%">
                        </a>
                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('androidAppIcon', $event)"></i>
                        <input type="file" name="iosAppIcon" id="androidAppIconFile" onchange="angular.element(this).scope().onFileUpload(this.files,'androidAppIcon');" ng-show="false">
                    </div>
                    <div data-ng-show="isUploading['androidAppIcon']" class="file-loading">
                        <div style="margin-top: 70px;">
                            <div class="file-progress">
                                <div class="progress-bar-warning" style="width:{{fileProgress['androidAppIcon']}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Android Screenshot</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('androidScreenshot1File', $event)">
                                <div ng-hide="clientAppConfig.androidScreenshot1" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot1')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.androidScreenshot1" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot1')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidScreenshot1)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidScreenshot1)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('androidScreenshot1', $event)"></i>
                                    <input type="file" name="androidScreenshot1" id="androidScreenshot1File" onchange="angular.element(this).scope().onFileUpload(this.files,'androidScreenshot1');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['androidScreenshot1']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['androidScreenshot1']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 1</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('androidScreenshot2File', $event)">
                                <div ng-hide="clientAppConfig.androidScreenshot2" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot2')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.androidScreenshot2" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot2')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidScreenshot2)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidScreenshot2)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('androidScreenshot2', $event)"></i>
                                    <input type="file" name="androidScreenshot2" id="androidScreenshot2File" onchange="angular.element(this).scope().onFileUpload(this.files,'androidScreenshot2');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['androidScreenshot2']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['androidScreenshot2']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 2</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('androidScreenshot3File', $event)">
                                <div ng-hide="clientAppConfig.androidScreenshot3" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot3')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.androidScreenshot3" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot3')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidScreenshot3)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidScreenshot3)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('androidScreenshot3', $event)"></i>
                                    <input type="file" name="androidScreenshot3" id="androidScreenshot3File" onchange="angular.element(this).scope().onFileUpload(this.files,'androidScreenshot3');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['androidScreenshot3']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['androidScreenshot3']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 3</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('androidScreenshot4File', $event)">
                                <div ng-hide="clientAppConfig.androidScreenshot4" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot4')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.androidScreenshot4" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot4')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidScreenshot6)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidScreenshot6)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('androidScreenshot4', $event)"></i>
                                    <input type="file" name="androidScreenshot4" id="androidScreenshot4File" onchange="angular.element(this).scope().onFileUpload(this.files,'androidScreenshot4');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['androidScreenshot4']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['androidScreenshot4']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 4</p>
                        </div>
                        <div class="pull-left" style="width:20%;padding:5px">
                            <div class="upload-file-container2 pointer" ng-click="selectFileOpen('androidScreenshot5File', $event)">
                                <div ng-hide="clientAppConfig.androidScreenshot5" style="height: 200px; line-height: 1.5;padding:5px" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot5')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="clientAppConfig.androidScreenshot5" drag-and-drop drop-handler="onFileUpload(files,'androidScreenshot5')">
                                    <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidScreenshot5)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidScreenshot5)}}" style="max-width: 100%;height:200px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash delete-icon" ng-click="deleteFile('androidScreenshot5', $event)"></i>
                                    <input type="file" name="androidScreenshot5" id="androidScreenshot5File" onchange="angular.element(this).scope().onFileUpload(this.files,'androidScreenshot5');" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['androidScreenshot5']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['androidScreenshot5']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">Screenshot 5</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Android Cover Image</label>
                <div class="col-sm-6 upload-file-container pointer" ng-click="selectFileOpen('androidCoverImageFile', $event)">
                    <div ng-hide="clientAppConfig.androidCoverImage" style="height: 100px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'androidCoverImage')">
                        <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                            Drop photo here to upload.
                        </div>
                    </div>
                    <div ng-show="clientAppConfig.androidCoverImage" drag-and-drop drop-handler="onFileUpload(files,'androidCoverImage')">
                        <a href="" ng-click="CommonUtil.openURL($event, clientAppConfig.androidCoverImage)">
                            <img ng-src="{{CommonUtil.getSmallImage2(clientAppConfig.androidCoverImage)}}" style="max-width: 100%">
                        </a>
                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('androidCoverImage', $event)"></i>
                        <input type="file" name="iosAppIcon" id="androidCoverImageFile" onchange="angular.element(this).scope().onFileUpload(this.files,'androidCoverImage');" ng-show="false">
                    </div>
                    <div data-ng-show="isUploading['androidCoverImage']" class="file-loading">
                        <div style="margin-top: 70px;">
                            <div class="file-progress">
                                <div class="progress-bar-warning" style="width:{{fileProgress['androidCoverImage']}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="bottom-button no-border" style="padding-top: 0">
        <button class="btn btn-primary pull-right" ng-click="saveDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
    </div>
</div>
