<div ng-init="fetchWhiteListedEmails()">
  <div id="page-heading">
      <ol class="breadcrumb">
          <li class="active">whitelisted</li>
      </ol>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                  <div class="row" style="padding-bottom: 10px;">
                      <div class="col-md-4">
                        <br><h2>{{whitelistedEmailsList.length}} Whitelisted Emails</h2>
                      </div>
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4 text-right">
                          <br><button class="btn btn-primary" ng-click="addWhiteListEmails()">Add to Whitelist</button>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Added</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="item in whitelistedEmailsList" style="cursor: pointer;">
                                    <td>
                                        {{item.email}}
                                    </td>
                                    <td>
                                        {{formatDate(item._bmd.createdAt)}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="handleWhiteListedEmailsDeleteClick(item)">Delete</button>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              <!-- </panel> -->
          </div>
          <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
              <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                  <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
              </div>
          </div>
      </div>
  </div> <!-- container-fluid -->
</div>
