<div ng-controller="CategoryController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <li class="active">Categories</li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <panel panel-class="panel-default">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h2>{{catList.length}} Categories</h2>
                    </div>
                </div>
            </div>
          <div class="row" style="padding-bottom: 10px;">
              <div class="col-md-4">
                  <div class="input-icon right mb10">
                      <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="onSearch()">
                          <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="item in allCommunityList | filter: $select.search">
                              <span ng-bind-html="item.name | highlight: $select.search"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>
              </div>
              <div class="col-md-8 text-right">
                  <button class="btn btn-primary" ng-click="createCategory()">New Category</button>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                        <th>Client</th>
                        <th>Enabled</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in catList" ng-click="editCategory(item)" style="cursor: pointer;">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.slug}}
                        </td>
                        <td>
                            {{item.community?item.community.name:''}}
                        </td>
                        <td>
                            {{CommonUtil.convertBoolean(item.enabled)}}
                        </td>
                        <td>
                            {{item.group}}
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger pull-right" ng-click="deleteCategory(item._id, $event)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </panel>
      </div>
      <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
        <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
          <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="editCategory.html">
      <div class="modal-header">
        <h3 class="modal-title">Category</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal"  name="form.validateForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="category.name" required>
            </div>
          </div>
          <div class="form-group">
             <label class="col-sm-3 control-label">Slug</label>
             <div class="col-sm-9">
               <input class="form-control" ng-model="category.slug" required>
             </div>
          </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Group</label>
                <div class="col-sm-9">
                    <select ng-model="category.group" class="form-control w100">
                        <option value="">Select a Group</option>
                        <option ng-repeat="item in groupList" ng-value="item">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Client</label>
                <div class="col-sm-9">
                    <select ng-model="category.community" class="form-control w100">
                        <option value="">Global</option>
                        <option ng-repeat="item in communityList" value="{{item._id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Enabled</label>
            <div class="col-sm-9">
              <input type="checkbox" ng-model="category.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
            </div>
          </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Cover Image</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('coverImageFile',$event)">
                        <div ng-hide="category.coverImage" style="height:120px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.coverImage">
                            <a href="" ng-click="CommonUtil.openURL($event, category.coverImage)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.coverImage)}}" style="width: 320px">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                            <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage', 'coverPhoto');">
                        </div>
                        <div data-ng-show="isUploading['coverImage']" class="file-loading">
                            <div style="margin-top: 50px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 section-title">
                <span>Challenge Images</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Image1</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('image1File',$event)">
                        <div ng-hide="category.image1" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'image1')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.image1">
                            <a href="" ng-click="CommonUtil.openURL($event, category.image1)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.image1)}}" style="width:300px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('image1', $event)"></i>
                            <input type="file" id="image1File" aria-label="image1File" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'image1');">
                        </div>
                        <div data-ng-show="isUploading['image1']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['image1']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Image2</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('image2File',$event)">
                        <div ng-hide="category.image2" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'image2')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.image2">
                            <a href="" ng-click="CommonUtil.openURL($event, category.image2)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.image2)}}" style="width:300px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('image2', $event)"></i>
                            <input type="file" id="image2File" aria-label="image2File" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'image2');">
                        </div>
                        <div data-ng-show="isUploading['image2']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['image2']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Image3</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('image3File',$event)">
                        <div ng-hide="category.image3" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'image3')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.image3">
                            <a href="" ng-click="CommonUtil.openURL($event, category.image3)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.image3)}}" style="width:300px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                            <input type="file" id="image3File" aria-label="image3File" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'image3');">
                        </div>
                        <div data-ng-show="isUploading['image3']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['image3']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Image4</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('image4File',$event)">
                        <div ng-hide="category.image4" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'image4')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.image4">
                            <a href="" ng-click="CommonUtil.openURL($event, category.image4)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.image4)}}" style="width:300px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('image4', $event)"></i>
                            <input type="file" id="image4File" aria-label="Image4File" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'image4');">
                        </div>
                        <div data-ng-show="isUploading['image4']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['image4']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 section-title">
                <span>Others</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Button Image</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('buttonImageFile',$event)">
                        <div ng-hide="category.buttonImage" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'buttonImage')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.buttonImage">
                            <a href="" ng-click="CommonUtil.openURL($event, category.buttonImage)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.buttonImage)}}" style="width:100px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('buttonImage', $event)"></i>
                            <input type="file" id="buttonImageFile" aria-label="buttonImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'buttonImage');">
                        </div>
                        <div data-ng-show="isUploading['buttonImage']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['buttonImage']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Button Image Selected</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('buttonImageSelectedFile',$event)">
                        <div ng-hide="category.buttonImageSelected" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'buttonImageSelected')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.buttonImageSelected">
                            <a href="" ng-click="CommonUtil.openURL($event, category.buttonImageSelected)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.buttonImageSelected)}}" style="width:100px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('buttonImageSelected', $event)"></i>
                            <input type="file" id="buttonImageSelectedFile" aria-label="buttonImageSelectedFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'buttonImageSelected');">
                        </div>
                        <div data-ng-show="isUploading['buttonImageSelected']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['buttonImageSelected']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Icon</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('iconFile',$event)">
                        <div ng-hide="category.icon" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'icon')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.icon">
                            <a href="" ng-click="CommonUtil.openURL($event, category.icon)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.icon)}}" style="width:100px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('icon', $event)"></i>
                            <input type="file" id="iconFile" aria-label="iconFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'icon');">
                        </div>
                        <div data-ng-show="isUploading['icon']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['icon']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Icon Sticker</label>
                <div class="col-sm-6">
                    <div class="upload-file-container pointer" style="" ng-click="selectFileOpen('iconStickerFile',$event)">
                        <div ng-hide="category.iconSticker" style="height:100px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'iconSticker')">
                            <div class="drop-informer">
                                Drop image here
                            </div>
                        </div>
                        <div ng-show="category.iconSticker">
                            <a href="" ng-click="CommonUtil.openURL($event, category.iconSticker)">
                                <img ng-src="{{CommonUtil.getSmallImage3(category.iconSticker)}}" style="width:100px;border: 1px solid #eee">
                            </a>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteFile('iconSticker', $event)"></i>
                            <input type="file" id="iconStickerFile" aria-label="iconStickerFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'iconSticker');">
                        </div>
                        <div data-ng-show="isUploading['iconSticker']" class="file-loading">
                            <div style="margin-top: 40px;">
                                <div class="file-progress">
                                    <div class="progress-bar-warning" style="width:{{fileProgress['iconSticker']}}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveCategoryDo()"  ng-disabled="!canSubmitValidationForm()">Save Category</button>
      </div>
    </script>
  </div> <!-- container-fluid -->
</div>
