<div ng-controller="CommunityPushController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <li class="active">Push Notifications</li>
    </ol>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <panel panel-class="panel-default">
          <div>
            <div class="pull-left">
              <h2>{{pushes.length}} Push Notifications</h2>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary" ng-click="createPush()">New</button>
              <button class="btn btn-primary" ng-click="executeSchedule()" ng-disabled="existPending()">Execute scheduled</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Text</th>
                  <th>Status</th>
                  <th>Date/Time</th>
                  <th>Timezone</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pushes" ng-click="editPush(item)" style="cursor: pointer;">
                  <td>
                    {{item.text}}
                  </td>
                  <td>
                    {{item.status}}
                  </td>
                  <td>{{CommonUtil.formatDateWithFormatWithTimezone(item.datetime, "YYYY-MM-DD h:mm a", item.timezone)}}</td>
                  <td>{{item.timezone}}</td>
                  <td>
                    <button class="btn btn-sm btn-danger pull-right" ng-click="deletePush(item._id, $event)">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
            <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
              <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
