<div ng-controller="CertificationController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active">Certifications</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel panel-class="panel-default">
                    <div>
                        <div class="pull-left">
                            <h2>{{certificationList.length}} Certification</h2>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="createCertification()">New Certification</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Badge</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in certificationList" ng-click="editCertification(item)" style="cursor: pointer;">
                                    <td>
                                        <a href="" ng-click="CommonUtil.openURL($event, item.badge)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(item.badge)}}" style="height:60px">
                                        </a>
                                    </td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.description}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteCertification(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </panel>
            </div>
            <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                    <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="editCertification.html">
            <div class="modal-header">
                <h3 class="modal-title">Certification</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  name="form.validateForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="certification.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Slug</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="certification.slug" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-9">
                            <select ng-model="certification.type" class="form-control w100">
                                <option value="">Select a Type</option>
                                <option value="Business">Place</option>
                                <option value="Event">Event</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Badge</label>
                        <div class="col-sm-9">
                            <div class="upload-file-container pointer" ng-click="selectFileOpen($event)">
                                <div ng-hide="certification.badge" style="height:120px;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'badge','image')">
                                    <div class="drop-informer">
                                        Drop image here
                                    </div>
                                </div>
                                <div ng-show="certification.badge">
                                    <a href="" ng-click="CommonUtil.openURL($event, certification.badge)">
                                        <img ng-src="{{CommonUtil.getSmallImage2(certification.badge)}}" style="max-width: 100%">
                                    </a>
                                    <i class="glyphicon glyphicon-trash" ng-click="deleteFile('badge', $event)"></i>
                                    <input type="file" id="badge" aria-label="badge" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'badge','image');">
                                </div>
                                <div data-ng-show="isUploading['badge']" class="file-loading">
                                    <div style="margin-top: 50px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['badge']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" ng-model="certification.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Website URL</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="certification.url">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()">Cancel</button>
                <button class="btn btn-primary" ng-click="saveCertificationDo()"  ng-disabled="!canSubmitValidationForm()">Save Certification</button>
            </div>
        </script>
    </div> <!-- container-fluid -->
</div>
