<div ng-controller="SprintController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <!--<li><a href="#/">DashBoard</a></li>-->
      <li class="active">Sprints</li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <panel panel-class="panel-default">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-5">
                    <h2>{{collectionView.totalItems}} Sprints</h2>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn btn-primary" ng-click="createSprint($event)">New Sprint</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Client</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Points</th>
                            <th>Active Users</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in sprintList" ng-click="editSprint(item)" style="cursor: pointer;">
                            <td>
                                {{item.community?item.community.name:'-'}}
                            </td>
                            <td>
                                {{item.startDate}}
                            </td>
                            <td>
                                {{item.endDate}}
                            </td>
                            <td>
                                {{item.totalPoints}}
                            </td>
                            <td>
                                {{item.activeUsers}}
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger pull-right" ng-click="deleteSprint(item._id, $event)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </panel>
      </div>
        <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
            <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
            </div>
        </div>
    </div>
      <script type="text/ng-template" id="editSprint.html">
          <div class="modal-header">
              <h3 class="modal-title">Sprint</h3>
          </div>
          <div class="modal-body">
              <form class="form-horizontal"  name="form.sprintValidateForm">
                  <div class="form-group">
                      <label class="col-sm-3 control-label">Client</label>
                      <div class="col-sm-9">
                          <div class="w100" style="position:relative">
                              <ui-select class="w100" ng-model="sprint.community" theme="bootstrap" title="Select a Client">
                                  <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                  <ui-select-choices repeat="item in communityList | filter:$select.search">
                                      {{item.name}}
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-3 control-label">Start Date</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="startDate" is-open="openedDateSelector[0]" close-text="Close"/>
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openDateWindow($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-3 control-label">End Date</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="endDate" is-open="openedDateSelector[1]" close-text="Close"/>
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openDateWindow($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group" ng-if="sprint._id">
                      <label class="col-sm-3 control-label">Total Points</label>
                      <div class="col-sm-9">
                          <span class="form-control disabled-back">{{sprint.totalPoints}}</span>
                      </div>
                  </div>
                  <div class="form-group" ng-if="sprint._id">
                      <label class="col-sm-3 control-label">Active Users</label>
                      <div class="col-sm-9">
                          <span class="form-control disabled-back">{{sprint.activeUsers}}</span>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button class="btn btn-default" ng-click="close()">Cancel</button>
              <button class="btn btn-primary" ng-click="saveSprintDo()"  ng-disabled="!form.sprintValidateForm.$dirty">Save Sprint</button>
          </div>
      </script>
  </div> <!-- container-fluid -->
</div>
