<div ng-controller="CarbonTrackingController">
    <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
        <button class="btn btn-primary pull-right" ng-click="saveDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
    </div>
    <div class="panel" style="padding:20px;">
        <form class="form-horizontal"  name="form.validateForm">
            <div class="col-sm-12 section-title">
                <span class="col-sm-3 text-right">Home Location</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Address1</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="userAddressHome.address1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Address2</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="userAddressHome.address2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">City</label>
                <div class="col-sm-9 pr40">
                    <input class="form-control" ng-model="userAddressHome.city">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">State</label>
                <div class="col-sm-9 pr40">
                    <select ng-model="userAddressHome.state" class="form-control w100">
                        <option value="">Select a State</option>
                        <option ng-repeat="item in stateList" value="{{item}}">{{item}}</option>
                    </select>
                    <!-- <div class="colored-marker">1</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Postal Code</label>
                <div class="col-sm-9 pr40">
                    <input class="form-control" ng-model="userAddressHome.postalCode">
                    <!-- <div class="colored-marker">1</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Location</label>
                <div class="col-sm-9 pr40">
                    <div class="row">
                        <div class="col-sm-4" style="">
                            <div class="col-sm-12" style="text-align: center;height:20px">
                                <label style="">Latitude</label>
                            </div>
                            <input  class="form-control" ng-model="userAddressHome._geoloc[1]" placeholder="Latitude">
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12" style="text-align: center;height:20px">
                                <label>Longitude</label>
                            </div>
                            <input  class="form-control" ng-model="userAddressHome._geoloc[0]" placeholder="Longitude">
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12" style="text-align: center;height:20px">
                                <label></label>
                            </div>
                            <button class="btn btn-primary w100" ng-click="geocodeAddress(userAddressHome)">Geocode</button>
                        </div>
                    </div>
                    <!-- <div class="colored-marker mt20">1</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Geofence Radius</label>
                <div class="col-sm-9 pr40">
                    <input type="number" class="form-control" ng-model="userAddressHome.geofenceRadius" placeholder="500">
                </div>
            </div>
            <div class="col-sm-12 section-title">
                <span class="col-sm-3 text-right">Work Location</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Address1</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="userAddressWork.address1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Address2</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="userAddressWork.address2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">City</label>
                <div class="col-sm-9 pr40">
                    <input class="form-control" ng-model="userAddressWork.city">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">State</label>
                <div class="col-sm-9 pr40">
                    <select ng-model="userAddressWork.state" class="form-control w100">
                        <option value="">Select a State</option>
                        <option ng-repeat="item in stateList" value="{{item}}">{{item}}</option>
                    </select>
                    <!-- <div class="colored-marker">1</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Postal Code</label>
                <div class="col-sm-9 pr40">
                    <input class="form-control" ng-model="userAddressWork.postalCode">
                    <!-- <div class="colored-marker">1</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Location</label>
                <div class="col-sm-9 pr40">
                    <div class="row">
                        <div class="col-sm-4" style="">
                            <div class="col-sm-12" style="text-align: center;height:20px">
                                <label style="">Latitude</label>
                            </div>
                            <input  class="form-control" ng-model="userAddressWork._geoloc[1]" placeholder="Latitude">
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12" style="text-align: center;height:20px">
                                <label>Longitude</label>
                            </div>
                            <input  class="form-control" ng-model="userAddressWork._geoloc[0]" placeholder="Longitude">
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12" style="text-align: center;height:20px">
                                <label></label>
                            </div>
                            <button class="btn btn-primary w100" ng-click="geocodeAddress(userAddressWork)">Geocode</button>
                        </div>
                    </div>
                    <!-- <div class="colored-marker mt20">1</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Geofence Radius</label>
                <div class="col-sm-9 pr40">
                    <input type="number" class="form-control" ng-model="userAddressWork.geofenceRadius" placeholder="500">
                </div>
            </div>
        </form>
    </div>
    <div class="bottom-button no-border" style="padding-top: 0">
        <button class="btn btn-primary pull-right" ng-click="saveDo()" ng-disabled="!form.validateForm.$dirty||!form.validateForm.$valid">Save</button>
    </div>
</div>
