.ft10 {font-size:10px;}
.ft12 {font-size:12px;}
.ft14 {font-size:14px;}

.pr40 {padding-right:40px}
.mt20 {margin-top:20px}

.red {color:red}
.black {color:black}
.white {color:white}
.grey {color:grey}

textarea {resize:none !important;outline:none !important;}
input {outline:none !important;}

.pointer {cursor: pointer}

.header-user-name {
    font-size: 16px;
    margin: 12px 10px;
    color:#638da6
}

.header-text {
    font-size: 18px;
    font-weight: 500;
    color: #638da6;
    vertical-align: middle;
    display: inline-block;
}

#sidebar li a {
    padding: 12px 16px;
}


.drop-container {
    position: relative;
    background-color: #fff;
    border: dashed 2px #aaa;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}
.drop-container .drop-informer {
    display: block;
    /*pointer-events: none;*/
    position: absolute; top: 50%; margin-top: -10px;
    width:100%;
    left:0;
}
.drop-container .drop-actor {
    display: none;
    pointer-events: none;
}
.drop-container.active {
    background-color: transparent;
    border: dashed 2px green;
}
.drop-container.active .drop-informer {
    display: none;
}
.drop-container.active .drop-actor {
    display: block;
}
.drop-container .drop-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.1);
}

.upload-file-container {
    position:relative;margin:0;min-width:250px;margin-bottom:10px;/*max-width:320px;*/
}

.upload-file-container2 {
    position:relative;margin:0;margin-bottom:10px;/*max-width:320px;*/
}

.upload-file-container .file-loading, .upload-file-container2 .file-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.83);
    z-index: 100;
}

.file-progress {
    width:90%;height:20px;background: #292929;display: inline-block;position:relative;border-radius: 4px;
}
.progress-bar-warning {
    background-color: green;
    position:absolute;top:0;left:0;
    height:20px;
}
.upload-file-container img.cover-photo {height:100px;}
.upload-file-container img.web-cover-photo {height:200px;}

.ui-select-bootstrap .ui-select-match-text span {
    display: inline-block;
    width: 80%;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section-title {
    font-size: 16px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.no-border {
    border:none !important;
}

.disabled-back {
    background: #eee;
}

.builddate {
    position:absolute;
    bottom:0;
    font-size: 12px;
    /* width: 100%; */
    left: 5px;
    color: #92a4b2;
    font-weight: bold;
}

.option_group {
    font-weight: bold;
    font-size: 12px;
}

.option_value {
    padding-left:20px;
}

body.sidebar-midnightblue #wrapper .static-sidebar-wrapper {
    background: #81ccbd;
}

body.sidebar-midnightblue #wrapper .static-sidebar li.nav-separator div {
    color: rgba(255,255,255,0.9);
    padding: 4px;
    font-size: 1.1em;
}

body.sidebar-midnightblue #wrapper .static-sidebar li a {
    color: #ffffff;
}

body.sidebar-midnightblue #wrapper .static-sidebar i {
    color: #ffffff;
}

body.sidebar-midnightblue #wrapper .static-sidebar .active > a {
    background: #b8e5d9;
    color: #34907f;
}

body.sidebar-midnightblue #wrapper .static-sidebar li.active > a > i{
    color: #34907f;
}
body.sidebar-midnightblue #wrapper .static-sidebar li > a:hover {
    background: #34907f !important;
    color: #ffffff !important;
}

body.sidebar-midnightblue #wrapper .static-sidebar li > a:hover > i{
    background: #34907f !important;
    color: #ffffff !important;
}

body.sidebar-midnightblue #wrapper .static-sidebar li:hover > a {
    background: #81ccbd;
    color: #ffffff;
}

body.sidebar-midnightblue #wrapper .static-sidebar li:hover > a > i {
    color: #ffffff;
}

body.sidebar-midnightblue #wrapper .static-sidebar li.active:hover > a, body.sidebar-midnightblue #wrapper .static-sidebar li.active:hover > a > i {
    background: #b8e5d9;
    color: #34907f;
}

body.sidebar-midnightblue #wrapper .static-sidebar #sidebar ul, body.sidebar-midnightblue #wrapper .static-sidebar #sidebar ul li a {
    background: #81ccbd;
    color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #f37850;
    border-color: #ed4122;
}

.btn-danger:hover {
    background-color: #cf3a0f;
}

.btn-primary {
    color: #ffffff;
    background-color: #509ecc;
    border-color: #356988;
}

h2 {
    font-weight: 500;
}

body.navbar-default #topnav .toolbar > li > a {
    color: #638da6;
}

#sidebar .nav-separator {
    padding: 0px 16px;
}

.colored-marker {
    margin:2px;
    width:26px;
    height: 26px;
    line-height: 26px;
    background:#f1862f;
    position: absolute;top:0;right:0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color:white;
    border-radius: 50%;
}

.bottom-button {
    display: inline-block;width:100%;padding:10px 10px 5px 10px;border-top:1px solid lightgrey
}

.no-border {
    border:none !important;
}

.sel-image-button {
    padding:5px;
    text-align: center;
}

.delete-icon {
    position: absolute;
    left: 0; top:0;
    padding: 2px;
    background: rgba(255,255,255,0.5);
}

.search-result-item {
    float: left;
    margin: 10px 10px 0 0;
    height: 80px;
}

.coverPhoto {
    width: 320px;height:160px;object-fit: cover;
}


.w-s--nw {
    white-space: nowrap;
}
.of--h {
    overflow: hidden;
}
.t-o--e {
    text-overflow: ellipsis;
}
