<div ng-controller="UtilityController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">Utility</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="pull-left">
                                    <h2>{{uncodedBusinessCount}} Uncoded Places</h2>
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                <button class="btn btn-primary" ng-click="geocodeBusiness($event)"><i class="fa {{runningBulk?'fa-spinner fa-spin':'fa-circle-o'}}"></i>
                                    {{!runningBulk?"Execute":"Stop It"}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
