<div ng-controller="ChallengeController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">Challenges</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2>{{collectionView.totalItems}} Challenges</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3">
                            <div class="input-icon right mb10">
                                <ui-select style="width:100%" ng-model="filter.type" title="Select a challenge type" on-select="getChallengeList()">
                                    <ui-select-match placeholder="Select a challenge type">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in filterTypeList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-icon right mb10" ng-if="!user.communityAdmin">
                                <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="getChallengeList()">
                                    <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-icon right mb10" ng-if="communityTeams.length>0">
                                <ui-select style="width:100%" ng-model="filter.team" title="Select a Team" on-select="getChallengeList()">
                                    <ui-select-match placeholder="Select a Team">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityTeams | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3 text-right pull-right">
                            <button class="btn btn-primary" ng-click="reset()">Reset</button>
                            <button class="btn btn-primary" ng-click="createChallenge($event)">New Challenge</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Activity Name</th>
                                    <th>Client</th>
                                    <th>Teams</th>
                                    <th>Starts At</th>
                                    <th>Ends At</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in challengeList" ng-click="editChallenge(item, $event)" style="cursor: pointer;">
                                    <td>
                                        {{item.title}}
                                    </td>
                                    <td>
                                        {{item.type=='website'?item.description:(item.activity.name||item.activity.title)}}
                                    </td>
                                    <td>
                                        {{getCommunityNames(item.communities)}}
                                    </td>
                                    <td>
                                        {{getTeamNames(item.teams)}}
                                    </td>
                                    <td>
                                        {{item.startsAt}}
                                    </td>
                                    <td>
                                        {{item.endsAt}}
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteChallenge(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </panel>
                <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                    <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
