<div ng-controller="ChallengeEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/challenges">Challenges</a></li>
            <li class="active">{{challenges.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;border-top: 2px solid #87858C;">
            <button class="btn btn-primary pull-right" ng-click="saveChallengeDo()" ng-disabled="!isValidForm()">
                <span ng-show="isSaving"><i class="fa fa-spin fa-spinner"></i>&nbsp;</span>
                Save
            </button>
        </div>
        <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);">
            <form class="form-horizontal"  name="form.validateForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="challenge.title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-6">
                        <select ng-model="challenge.type" class="form-control w100" ng-change = "onChangeType()">
                            <option value="">Select a Type</option>
                            <option ng-repeat="item in TypeList" value="{{item}}">{{item=='business'?'place':item}}</option>
                        </select>
                    </div>
                </div>

                <div ng-if="challenge.type!='website'">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Activity</label>
                        <div class="col-sm-6">
                            <ui-select ng-model="filter.activity" title="Select a activity" on-select="onChangeActivity()">
                                <ui-select-match placeholder="Select or search a activity in the list...">{{$select.selected.name||$select.selected.title}}</ui-select-match>
                                <ui-select-choices repeat="item in activityList track by $index"
                                                   refresh="refreshActivity($select.search)"
                                                   refresh-delay="0">
                                    <span ng-bind-html="item.name||item.title | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="filter.activity">
                        <label class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-3" ng-if="selectedCategory.image1">
                                    <img ng-src="{{CommonUtil.getSmallImage3(selectedCategory.image1)}}" style="width:100%;border:1px solid lightgrey"/>
                                    <div class="sel-image-button">
                                        <input icheck type="radio" name="image" value="1" ng-model="challenge.imageNum">
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="selectedCategory.image2">
                                    <img ng-src="{{CommonUtil.getSmallImage3(selectedCategory.image2)}}" style="width:100%;border:1px solid lightgrey"/>
                                    <div class="sel-image-button">
                                        <input icheck type="radio" name="image" value="2" ng-model="challenge.imageNum">
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="selectedCategory.image3">
                                    <img ng-src="{{CommonUtil.getSmallImage3(selectedCategory.image3)}}" style="width:100%;border:1px solid lightgrey"/>
                                    <div class="sel-image-button">
                                        <input icheck type="radio" name="image" value="3" ng-model="challenge.imageNum">
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="selectedCategory.image4">
                                    <img ng-src="{{CommonUtil.getSmallImage3(selectedCategory.image4)}}" style="width:100%;border:1px solid lightgrey"/>
                                    <div class="sel-image-button">
                                        <input icheck type="radio" name="image" value="4" ng-model="challenge.imageNum">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="challenge.type=='website'">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Headline</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="challenge.headline" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Headline Color</label>
                        <div class="col-sm-6">
                            <div style="width:30px;height:30px;float:left;background:{{challenge.headlineColor}};border:1px solid lightgrey"></div>
                            <input colorpicker type="text" ng-model="challenge.headlineColor" style="height: 30px;width:80px;border: 1px solid lightgray;"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="challenge.description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">URL</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="challenge.url" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Cover Image</label>
                        <div class="col-sm-6">
                            <div class="upload-file-container pointer" style="width:320px;height:160px" ng-click="selectFileOpen('coverImageFile',$event)">
                                <div ng-hide="challenge.coverImage" style="height:160px;background-image: url('{{uploadingFileUrl}}');background-size:cover" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                                    <div class="drop-informer">
                                        Drop image here or <a href="" ng-click="searchImages2($event, 'coverImage')">search for one</a>
                                    </div>
                                </div>
                                <div ng-if="challenge.coverImage">
                                    <a href="{{CommonUtil.getDownloadURL(challenge.coverImage)}}" target="_blank">
                                        <img ng-src="{{CommonUtil.getSmallImage3(challenge.coverImage)}}"  class="coverPhoto">
                                    </a>
                                    <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                                </div>
                                <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage','image');">
                                <div data-ng-show="isUploading['coverImage']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Starts At</label>
                    <div class='col-sm-6'>
                        <div class="dropdown">
                <span class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" style="width:100%">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="StartsAt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </span>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="StartsAt" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', modelType: 'YYYY-MM-DD LT' }"/>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Ends At</label>
                    <div class='col-sm-6'>
                        <div class="dropdown">
                <span class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" style="width:100%">
                    <div class="input-group"><input type="text" class="form-control" data-ng-model="EndsAt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </span>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="EndsAt" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'YYYY-MM-DD LT' }"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="!user.communityAdmin">
                    <div class="form-group" ng-if="!editMode">
                        <label class="col-sm-3 control-label">Clients</label>
                        <div class="col-sm-6">
                            <div class="w100" style="position:relative">
                                <ui-select class="w100" multiple ng-model="formData.communities" theme="bootstrap" close-on-select="false" title="Select clients" required>
                                    <ui-select-match placeholder="Select clients">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter:$select.search">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="editMode">
                        <label class="col-sm-3 control-label">Client</label>
                        <div class="col-sm-6">
                            <div class="w100" style="position:relative">
                                <ui-select class="w100" multiple ng-model="formData.communities" theme="bootstrap" close-on-select="false" title="Select clients" ng-disabled="true">
                                    <ui-select-match placeholder="Select clients">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter:$select.search">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="editMode && teams.length>0">
                        <label class="col-sm-3 control-label">Teams</label>
                        <div class="col-sm-6">
                            <div class="w100" style="position:relative">
                                <ui-select class="w100" multiple ng-model="formData.teams" theme="bootstrap" close-on-select="false" title="All Users">
                                    <ui-select-match placeholder="All Users">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in teams | filter:$select.search">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Points</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="challenge.points">
                    </div>
                </div>

                <input id="add_count" type="hidden" ng-model="add_count">
            </form>
        </div>
        <script type="text/javascript">

        </script>

        <script type="text/ng-template" id="pickItems.html">
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <div class="w100" style="display: inline-block">
                    <button class="btn btn-sky-alt btn-select-item pull-left {{isPickedItem(item)?'btn-picked':''}}" ng-repeat="item in selectedItems" ng-click="togglePickItem(item,$event)">{{item.name}}</button>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()">Close</button>
            </div>
        </script>
    </div> <!-- container-fluid -->
</div>
