<style type="text/css">
  .ace_editor  {
    min-height : 150px;
  }
</style>

<div class="modal-header">
  <h3 class="modal-title">Template</h3>
</div>
<div class="modal-body">
  <div>
    <p><strong>Template Name:</strong></p>
    <input type="text" placeholder="Template Name" class="form-control" ng-model="model.name">
  </div>

  <div style="margin-top: 15px;">
    <p><strong>Title:</strong></p>
    <input type="text" placeholder="Push Notification" class="form-control" ng-model="model.obj.title"/>
  </div>

  <div style=" margin-top: 15px;">
    <p><strong>Push Notification Text:</strong><span class="text-right pull-right" ng-class="{ 'text-danger': (textLimit - model.obj.text.length) < 0 }">{{textLimit - model.obj.text.length}}</span></p>
    <textarea style="resize: none;" type="text" rows="3" placeholder="" class="form-control" ng-model="model.obj.text"/>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-xs-12">
      <p>
        <strong>Deeplink</strong>
        <span class="text-right pull-right" ng-show="checkDeepLink(push.params)">Current : {{checkDeepLink(model.obj.params)}}</span>
      </p>
      <div class="w100" style="position:relative">
        <ui-select class="w100" ng-model="formData.deeplink" theme="bootstrap" title="Select a deeplink" on-select="updateParam()">
          <ui-select-match placeholder="Select a deeplink">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in deeplinks "
                             refresh="searchDeepLinks($select.search)"
                             refresh-delay="300">
            <span ng-bind-html="item.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-xs-12">
      <p><strong>Audiences</strong></p>
      <div class="w100" style="position:relative">
        <ui-select class="w100" multiple ng-model="formData.audiences" theme="bootstrap" close-on-select="false" title="Select audiences" on-select="runQuery()" on-remove="runQuery()">
          <ui-select-match placeholder="Select audiences">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="item in audience.audiences | filter:$select.search">
            {{item.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div style="margin-top: 15px;">
    <p><strong>Call to Action:</strong></p>
    <input type="text" placeholder="View Now" class="form-control" ng-model="model.obj.actionButton"/>
  </div>
  <div style="margin-top: 15px;">
    <p><strong>Cancel Action:</strong></p>
    <input type="text" placeholder="Not Now" class="form-control" ng-model="model.obj.cancelButton"/>
  </div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th colspan="4">Custom Parameters:</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="param in model.obj.params">
        <td><input type="text" placeholder="Key" class="form-control" ng-model="param.key"></td>
        <td style="width: 20px;"><i class="fa fa-arrow-circle-right"></i></td>
        <td><input type="text" placeholder="Value" class="form-control" ng-model="param.value"></td>
        <td style=" width: 20px;cursor: pointer;" ng-click="removeParam(param)"><i class="fa fa-trash-o"></i></td>
      </tr>
      <tr>
        <td colspan="4" class="text-right"><a ng-click="addParam()"><i class="fa fa-plus"></i>Add New Param</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <p><strong>User Query:</strong></p>
    <div class="editor" ui-ace="{mode: 'javascript', theme:'chrome', useWrapMode: true}" ng-model="model.obj.userQuery" ng-change="runQuery()"></div>
    <p style="margin: 10px 5px 15px 5px">
      <span ng-show="userQueryError" class="text-danger">{{userQueryError}}</span>
      <span ng-show="!userQueryError && usersCount!==null" class="text-success">Found {{usersCount}} users</span>
    </p>
  </div>
  <hr>
  <div class="text-right">
    <button class="btn btn-primary" data-ng-disabled="!validate()" ng-click="proceed()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
