<style type="text/css">
  .ace_editor  {
    min-height : 200px;
  }
</style>
<div class="modal-header">
  <h3 class="modal-title">Push</h3>
</div>
<div class="modal-body">
  <div ng-hide="isInitializing">
    <div ng-show="!templateSelected">
      <p class="reference-modal-label"><strong>Template</strong></p>
      <div class="row">
        <div class="col-sm-8">
          <select ng-model="template" class="form-control" ng-options="template.name for template in templates track by template._id"></select>
        </div>
        <div class="col-sm-4">
          <button ng-show="template" ng-disabled="!template" type="button" class="btn btn-success btn-block" ng-click="setTemplate(template)"><i class="fa fa-arrow-down"></i> Apply Template</button>
        </div>
      </div>

      <p style="margin: 10px 5px 15px 5px">
        <span ng-show="validateValue()" class="text-danger">{{validateValue()}}</span>
      </p>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col-xs-12">
        <p><strong>Title</strong> <em>(optional)</em></p>
        <input type="text" placeholder="Notification" class="form-control" ng-model="push.title"/>
      </div>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col-xs-12">
        <p><strong>Message</strong><span class="text-right pull-right" ng-class="{ 'text-danger': (textLimit - push.text.length) < 0 }">{{textLimit - push.text.length}}</span></p>
        <textarea style="resize: none;" type="text" rows="4" placeholder="" class="form-control" ng-model="push.text"/>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-xs-12">
        <p>
          <strong>Deeplink</strong>
          <span class="text-right pull-right" ng-show="checkDeepLink(push.params)">Current : {{checkDeepLink(push.params)}}</span>
        </p>
        <div class="w100" style="position:relative">
          <ui-select class="w100" ng-model="formData.deeplink" theme="bootstrap" title="Select a deeplink" on-select="updateParam()">
            <ui-select-match placeholder="Select a deeplink">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in deeplinks "
                               refresh="searchDeepLinks($select.search)"
                               refresh-delay="300">
              <span ng-bind-html="item.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px" ng-show="audience.audiences.length > 0">
      <div class="col-xs-12">
        <p><strong>Audiences</strong></p>
        <div class="w100" style="position:relative">
          <ui-select class="w100" multiple ng-model="formData.audiences" theme="bootstrap" close-on-select="false" title="Select audiences" on-select="runQuery()" on-remove="runQuery()">
            <ui-select-match placeholder="Select audiences">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="item in audience.audiences | filter:$select.search">
              {{item.name}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col-xs-6">
        <p><strong>Call to Action</strong> <em>(optional)</em></p>
        <input type="text" placeholder="View Now" class="form-control" ng-model="push.actionButton"/>
      </div>
      <div class="col-xs-6">
        <p><strong>Cancel Action</strong>  <em>(optional)</em></p>
        <input type="text" placeholder="Not Now" class="form-control" ng-model="push.cancelButton"/>
      </div>
    </div>

    <div class="row">
      <p style="margin: 10px 15px 0px 15px;"><em>These buttons are displayed when a push is received while the app is running. Tapping on the Call to Action will take the user to the desired location in the app and tapping the Cancel Action will dismiss the notification. If the notification does not deeplink to a particular screen in the app, these are not used. A simple “OK” button is displayed.</em></p>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-xs-12">
        <div style="margin-right: 20px; margin-top: 15px; margin-bottom: 10px; display: inline-block;">
          <label class="checkbox-inline">
            <input icheck type="checkbox" ng-model="push.scheduled"> <strong>Send Later</strong>
          </label>
        </div>
        <div ng-show="push.scheduled"  class="input-group">
          <div class="dropdown">
            <span class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown">
              <div class="input-group"><input type="text" class="form-control" data-ng-model="dateTimeValue"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="dateTimeInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown'}"  data-on-set-time="onDateTimeSet(newDate, oldDate)"/>
            </ul>

            <select ng-model="push.timezone" class="form-control pull-right" style="width:250px;margin-left: 10px;" ng-options="timezone for timezone in timezones"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-xs-12">
        <a ng-click="showAdvanced=true" ng-show="!showAdvanced">Advanced Settings</a>
      </div>
    </div>
    <div ng-show="showAdvanced">
      <div>
        <table class="table">
          <thead>
          <tr>
            <th colspan="4">Custom Parameters</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="param in push.params">
            <td><input type="text" placeholder="Key" class="form-control" ng-model="param.key"></td>
            <td style="width: 20px;"><i class="fa fa-arrow-circle-right"></i></td>
            <td><input type="text" placeholder="Value" class="form-control" ng-model="param.value"></td>
            <td style=" width: 20px;cursor: pointer;" ng-click="removeParam(param)"><i class="fa fa-trash-o"></i></td>
          </tr>
          <tr>
            <td colspan="4" class="text-right"><a ng-click="addParam()"><i class="fa fa-plus"></i> Add New Param</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group" ng-show="!showSendToUser">
        <p ng-click="runQuery()"><strong>User Query</strong></p>
        <div class="editor" ui-ace="{mode: 'javascript', theme:'chrome', useWrapMode: true}" ng-model="push.userQuery" ng-change="runQuery()"></div>
        <p style="margin: 10px 5px 15px 5px">
          <span ng-show="userQueryError" class="text-danger">{{userQueryError}}</span>
          <span ng-show="!userQueryError && usersCount!==null" class="text-success">Found {{usersCount}} users</span>
        </p>
      </div>
    </div>
    <div ng-show="showSendToUser">
      <hr>
      <p class="reference-modal-label">Send Test to User</p>
      <div class="row">
        <div class="col-sm-6">
          <input type="text" placeholder="username" class="form-control" ng-model="username"/>
        </div>
        <div class="col-sm-3">
          <button ng-disabled="!username" type="button" class="btn btn-success btn-block" ng-click="sendToUser(username)">
            <span ng-show="isUserSending"><i class="fa fa-spinner fa-spin"></i> Sending...</span>
            <span ng-hide="isUserSending"><i class="fa fa-paper-plane"></i> &nbsp;Send</span>
          </button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-default btn-block" ng-click="showSendToUser=!showSendToUser">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="!showSendToUser">
    <hr>
    <div class="text-left col-xs-6">
      <button class="btn btn-primary" data-ng-disabled="!validate()" ng-click="showSendToUser=!showSendToUser">Send Test to User</button>
    </div>
    <div class="text-right col-xs-6">
      <button class="btn btn-primary" data-ng-disabled="!validate()" ng-click="proceed()">{{ push.scheduled ? "Schedule" : "Send Now" }}</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>
