<div ng-controller="PushController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <li class="active">Push Notifications</li>
    </ol>
  </div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <panel panel-class="panel-default">
        <div class="row">
          <div class="col-md-12 pull-left">
            <h2>{{pushes.length}} Push Notifications</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-icon right mb10" ng-if="!user.communityAdmin">
              <ui-select style="width:100%" ng-model="filter.audience" title="All Notifications" on-select="loadList()">
                <ui-select-match placeholder="All Notifications">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in audienceList | filter: $select.search">
                  <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-primary" ng-click="createPush()">New</button>
            <button class="btn btn-primary" ng-click="executeSchedule()" ng-disabled="existPending()">Execute scheduled</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Text</th>
                <th>Status</th>
                <th ng-if="!user.communityAdmin">Audiences</th>
                <th>Date/Time</th>
                <th>Timezone</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in pushes" ng-click="editPush(item)" style="cursor: pointer;">
                <td>
                  {{item.text}}
                </td>
                <td>
                  {{item.status}}
                </td>
                <td ng-if="!user.communityAdmin">
                  {{getAudiences(item.audience)}}
                </td>
                <td>{{CommonUtil.formatDateWithFormatWithTimezone(item.datetime, "YYYY-MM-DD h:mm a", item.timezone)}}</td>
                <td>{{item.timezone}}</td>
                <td>
                  <button class="btn btn-sm btn-danger pull-right" ng-click="deletePush(item._id, $event)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
          <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
            <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
