<div ng-controller="PushTemplatesController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <li class="active">Push Templates</li>
    </ol>
  </div>

  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <panel panel-class="panel-default">
        <div>
          <div class="pull-left">
            <h2>{{templates.length}} Push Templates</h2>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="createTemplate()">New Template</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Text</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in templates" ng-click="editTemplate(item)" style="cursor: pointer;">
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.obj.title}}
                </td>
                <td>{{item.obj.text}}</td>
                <td>
                  <button class="btn btn-sm btn-danger pull-right" ng-click="deleteTemplate(item._id, $event)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
          <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
            <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
