<div ng-controller="TeamController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">Teams</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="pull-left">
                                <h2>{{teamList.length}} Teams</h2>
                            </div>
                        </div>
                        <div class="col-md-3 text-right"  ng-if="user.communityAdmin">
                            <button class="btn btn-primary" ng-click="reset()">Reset</button>
                            <button class="btn btn-primary" ng-click="createTeam($event)">New Team</button>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;" ng-if="!user.communityAdmin">
                        <div class="col-md-5">
                            <div class="input-icon right mb10">
                                <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="getTeamList()">
                                    <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-3 text-right">
                            <button class="btn btn-primary" ng-click="createTeam($event)">New Team</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="font-weight:bold;border-bottom:1px solid #eee; padding:5px 0 5px 0">
                            <div class="col-md-4">
                                Name
                            </div>
                            <div class="col-md-2" ng-if="user.communityAdmin">
                                Initials
                            </div>
                            <div class="col-md-2">
                                Color
                            </div>
                            <div class="col-md-2" ng-if="!user.communityAdmin">
                                Client
                            </div>
                            <div class="col-md-2">
                                User count
                            </div>
                            <div class="col-md-2">
                                Action
                            </div>
                        </div>
                        <div id="teams-container">
                            <div  class="col-md-12 team-content" ng-repeat="item in teamList" ng-click="editTeam(item, $event)" style="padding:5px 0 5px 0;cursor: pointer;border-bottom: 1px solid #eee">
                                <input type="hidden" id="teamId-input" value="{{item._id}}">
                                <div class="col-md-4">
                                    {{item.name}}
                                    <span ng-if="!user.communityAdmin">,&nbsp;{{item.initials}}</span>
                                </div>
                                <div class="col-md-2" ng-if="user.communityAdmin">
                                    {{item.initials}}
                                </div>
                                <div class="col-md-2">
                                    <div style="background: {{item.color}};width:20px;height: 20px;display: inline-block;float: left;border:1px solid #ddd;margin-right: 5px"></div>{{item.color}}
                                </div>
                                <div class="col-md-2" ng-if="!user.communityAdmin">
                                    {{item.community?item.community.name:'-'}}
                                </div>
                                <div class="col-md-2">
                                    {{item.userCount||0}}
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-sm btn-danger" ng-click="deleteTeam(item._id, $event)">Delete</button>
                                </div>
                            </div>
                            <div class="col-md-12" ng-if="teamList.length==0" style="padding-top:10px">
                                <p class="text-center">There is no team</p>
                            </div>
                        </div>
                    </div>
                </panel>
                <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                    <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
