<div ng-controller="TeamEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/teams">Teams</a></li>
            <li class="active">{{teams.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;border-top: 2px solid #87858C;">
            <button class="btn btn-primary pull-right" ng-click="saveTeamDo()" ng-disabled="!isValidForm()">
                <span ng-show="isSaving"><i class="fa fa-spin fa-spinner"></i>&nbsp;</span>
                Save
            </button>
        </div>
        <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);">
            <form class="form-horizontal"  name="form.validateForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name *</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="team.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Initials</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="team.initials">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Color</label>
                    <div class="col-sm-6">
                        <input class="form-control"  colorpicker type="text" ng-model="team.color" />
                    </div>
                </div>
                <div class="form-group" ng-if="!user.communityAdmin">
                    <label class="col-sm-3 control-label">Client *</label>
                    <div class="col-sm-6">
                        <div class="w100" style="position:relative">
                            <ui-select style="width:100%" ng-model="team.community" title="Select a Client" required>
                                <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in communityList | filter: $select.search">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- container-fluid -->
</div>
