<div ng-controller="EventController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <!--<li><a href="#/">DashBoard</a></li>-->
      <li class="active">Events</li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <panel panel-class="panel-default">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h2>{{collectionView.totalItems}} Events</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-icon right mb10">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="collectionView.searchTerm" class="form-control" placeholder="Search Filter" ng-enter="onSearch()">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-icon right mb10">
                                <ui-select style="width:100%" ng-model="filter.category" title="Select a category" on-select="onSearch()">
                                    <ui-select-match placeholder="Select a category">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in categories | filter: $select.search">
                                        <span ng-class="item.type=='group'?'option_group':'option_value'" ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3 input-icon right mb10">
                            <ui-select style="width:100%" ng-model="filter.collection" title="Select a Collection" on-select="onSearch()">
                                <ui-select-match placeholder="Select a Collection">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in collectionList | filter: $select.search">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-icon right mb10" ng-if="!user.communityAdmin">
                                <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="onSearch()">
                                    <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <button class="btn btn-primary" ng-click="reset()">Reset</button>
                    <button class="btn btn-primary" ng-click="createEvent($event)">New Event</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="sortBy('name')" style="margin-right:5px"><strong>Name</strong></a>
                                <em class="fa fa-sort-down" ng-show="sortKey=='name'&&sortDirection['name']==-1"></em>
                                <em class="fa fa-sort-up" ng-show="sortKey=='name'&&sortDirection['name']==1"></em>
                                <em class="fa fa-unsorted" ng-show="sortKey!='name'"></em>
                            </th>
                            <th>Points</th>
                            <th>City</th>
                            <th>State</th>
                            <th>
                                <a href="" ng-click="sortBy('startsAt')" style="margin-right:5px"><strong>Starts At</strong></a>
                                <em class="fa fa-sort-down" ng-show="sortKey=='startsAt'&&sortDirection['startsAt']==-1"></em>
                                <em class="fa fa-sort-up" ng-show="sortKey=='startsAt'&&sortDirection['startsAt']==1"></em>
                                <em class="fa fa-unsorted" ng-show="sortKey!='startsAt'"></em>
                            </th>
                            <th>
                                <a href="" ng-click="sortBy('endsAt')" style="margin-right:5px"><strong>Ends At</strong></a>
                                <em class="fa fa-sort-down" ng-show="sortKey=='endsAt'&&sortDirection['endsAt']==-1"></em>
                                <em class="fa fa-sort-up" ng-show="sortKey=='endsAt'&&sortDirection['endsAt']==1"></em>
                                <em class="fa fa-unsorted" ng-show="sortKey!='endsAt'"></em>
                            </th>
                            <th>Creator</th>
                            <th>
                                <a href="" ng-click="sortBy('_bmd.updatedAt')" style="margin-right:5px"><strong>Last Modified</strong></a>
                                <em class="fa fa-sort-down" ng-show="sortKey=='_bmd.updatedAt'&&sortDirection['_bmd.updatedAt']==-1"></em>
                                <em class="fa fa-sort-up" ng-show="sortKey=='_bmd.updatedAt'&&sortDirection['_bmd.updatedAt']==1"></em>
                                <em class="fa fa-unsorted" ng-show="sortKey!='_bmd.updatedAt'"></em>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in eventList" ng-click="editEvent(item, $event)" style="cursor: pointer;">
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.points}}
                            </td>
                            <td>
                                {{item.city}}
                            </td>
                            <td>
                                {{item.state}}
                            </td>
                            <td>
                                {{CommonUtil.formatDateTime(item.startsAt)}}
                            </td>
                            <td>
                                {{CommonUtil.formatDateTime(item.endsAt)}}
                            </td>
                            <td>
                                <a ng-href="#" ng-click="CommonUtil.goUserDetail(item._acl.creator, $event)" ng-if="item._acl&&item._acl.creator">
                                    <img ng-src="{{CommonUtil.getAvatarThumbnail(item._acl.creator.avatar, item._acl.creator)}}" style="height:40px;" >
                                </a>
                                <a ng-href="#" ng-click="CommonUtil.goUserDetail(item._acl.creator, $event)" ng-if="item._acl">{{CommonUtil.getUser(item._acl?item._acl.creator:null)}}</a>
                            </td>
                            <td>
                                {{CommonUtil.formatDateTime(item._bmd.updatedAt)}}
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger pull-right" ng-click="deleteEvent(item._id, $event)">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </panel>
          <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
              <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                  <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
              </div>
          </div>
      </div>
    </div>
  </div> <!-- container-fluid -->
</div>
