<div ng-controller="EventEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/events">Events</a></li>
            <li class="active">{{event.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="border:0px; border-color:#ffffff">
            <tab heading="Event" style="border:0px; border-color:#ffffff">
                <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
                    <button class="btn btn-primary pull-right" ng-click="saveEventDo()" ng-disabled="!event.name">Save</button>
                        <!--<button class="btn btn-danger pull-right" style="margin-right:10px;"  ng-click="deleteEvent()" >Delete</button>-->
                </div>
                <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);margin-bottom: 0">
                    <form class="form-horizontal"  name="form.validateForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Enabled</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="event.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tracking Pixel URL</label>
                            <div class="col-sm-6">
                                <a class="form-control w-s--nw of--h t-o--e" target="_blank" ng-href="{{CommonUtil.getPixelUrl('event', event._id)}}">
                                    {{CommonUtil.getPixelUrl('event', event._id)}}
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <div ckeditor="CommonUtil.ckeditorOptions" ng-model="event.description"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Internal Notes</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="event.notes" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categories</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.categories" theme="bootstrap" close-on-select="false" title="Select categories" on-select="valueSelected($select)">
                                        <ui-select-match placeholder="Select categories">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in categoryList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                   <!-- <button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tags</label>
                            <div class="col-sm-6">
                                <ui-select class="w100" multiple tagging tagging-label="false" ng-model="event.tags" theme="bootstrap" >
                                    <ui-select-match placeholder="Add tags">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="item in tagList | filter:$select.search">
                                        {{item}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group" ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Collections</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.collections" theme="bootstrap" close-on-select="false" title="Select collections">
                                        <ui-select-match placeholder="Select collections">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in collectionList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Client</label>
                            <div class="col-sm-6">
                                <select ng-model="event.community" class="form-control w100">
                                    <option value="">None</option>
                                    <option ng-repeat="item in communityList" value="{{item._id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cover Image</label>
                            <div class="col-sm-6">
                                <div class="upload-file-container pointer" style="width:320px;height:160px" ng-click="selectFileOpen('coverImageFile',$event)">
                                    <div ng-hide="event.coverImage" style="height:160px;background-image: url('{{uploadingFileUrl}}');background-size:cover" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                                        <div class="drop-informer">
                                            Drop image here or <a href="" ng-click="searchImages2($event, 'coverImage')">search for one</a>
                                        </div>
                                    </div>
                                    <div ng-if="event.coverImage">
                                        <a href="{{CommonUtil.getDownloadURL(event.coverImage)}}" target="_blank">
                                            <img ng-src="{{CommonUtil.getSmallImage3(event.coverImage)}}"  class="coverPhoto">
                                        </a>
                                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                                    </div>
                                    <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage','image');">
                                    <div data-ng-show="isUploading['coverImage']" class="file-loading">
                                        <div style="margin-top: 70px;">
                                            <div class="file-progress">
                                                <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Points</label>
                            <div class="col-sm-6">
                                <input input-number type="number" class="form-control" ng-model="event.points">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Time Required</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="event.timeRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website URL</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.url">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 1</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.address1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 2</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.address2">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.city">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-6">
                                <select ng-model="event.state" class="form-control w100">
                                    <option value="">Select a State</option>
                                    <option ng-repeat="item in stateList" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Postal Code</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.postalCode">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location</label>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label>Latitude</label>
                                </div>
                                <input class="form-control" ng-model="event._geoloc[1]" placeholder="Latitude">
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label>Longitude</label>
                                </div>
                                <input class="form-control" ng-model="event._geoloc[0]" placeholder="Longitude">
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12" style="text-align: center;height:20px">
                                    <label></label>
                                </div>
                                <button class="btn btn-primary" ng-click="geocodeAddress()">Geocode Address</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Checkin Radius</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="event.checkinRadius" placeholder="300">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Certification</label>
                            <div class="col-sm-6">
                                <select ng-model="event.certification" class="form-control w100">
                                    <option value="">Select a Certification</option>
                                    <option ng-repeat="item in certificationList" value="{{item._id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Repeatable</label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="event.repeatable" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <!--style="border: 1px solid #ff0000"-->
                        <div class="form-group" ng-if="event.repeatable">
                            <label class="col-sm-3 control-label">Repeat Interval</label>
                            <div class="col-sm-3" >
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="col-sm-3 form-control" style="float:left" ng-model="formData.intervalminute" min="0" max="60">
                                </div>
                                <label class="col-sm-3 control-label">(min)</label>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="form-control" ng-model="formData.intervalhour" min="0" max="23">
                                </div>
                                <label class="col-sm-3 control-label">(hour)</label>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="form-control" ng-model="formData.intervalday" min="0">
                                </div>
                                <label class="col-sm-3 control-label">(day)</label>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">Starts At</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="StartsAt" is-open="openedDateSelector[1]" close-text="Close"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDateWindow($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">Ends At</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="EndsAt" is-open="openedDateSelector[2]" close-text="Close"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDateWindow($event, 2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Event Times</label>
                            <div class="col-sm-6">
                                <div class="col-sm-5" style="padding-bottom: 0px; text-align: center">
                                    <label class="control-label">Days</label>
                                </div>
                                <div class="col-sm-3" style="padding-bottom: 0px;text-align: center">
                                    <label class="control-label">From</label>
                                </div>
                                <div class="col-sm-3" style="padding-bottom: 0px;text-align: center">
                                    <label class="control-label">Until</label>
                                </div>
                                <div class="col-sm-12" ng-show="times.length==0" style="margin:10px 0 10px 0;padding:20px;font-weight:bold; font-size:16px;text-align:center;border:1px solid #eee;height:70px">There aren't any event times!</div>
                                <div ng-repeat="item in times">
                                    <div class="row">
                                        <div class="col-sm-5" style="padding-top: 5px;">
                                            <div class="input-group">
                                                <input type="text"  name="day-input" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="item['date']" is-open="openedTimeDateSelector[item['index']]" close-text="Close"/>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openTimeDateWindow($event, item['index'])"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" style="padding-top: 5px;">
                                            <input type="time" class="form-control" value="{{getFrom(item)}}" name="from-input" placeholder="HH:mm:ss">    <!-- min="08:00:00" max="17:00:00"-->
                                        </div>
                                        <div class="col-sm-3" style="padding-top: 5px;">

                                            <input type="time" class="form-control" value="{{getUntil(item)}}" name="until-input" placeholder="HH:mm:ss">
                                        </div>
                                        <div class="col-sm-1" style="padding-top: 5px;text-align: center" ng-if="!eventId">
                                            <i class="fa fa-remove fa-2x" ng-click="RemoveTime(item, $event)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top:5px" ng-if="!eventId">
                                    <button class="btn btn-default" ng-click="AddTimes()">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bottom-button no-border">
                    <button class="btn btn-primary pull-right" ng-click="saveEventDo()" ng-disabled="!event.name">Save</button>
                </div>
            </tab>
            <tab heading="User Activity" style="border:0px; border-color:#ffffff">
                <ng-include src="'views/templates/userActivities.html'"></ng-include>
            </tab>
        </tabset>
    </div> <!-- container-fluid -->
</div>
