<div ng-controller="MainController"
     id="headerbar"
     ng-class="{headerbarHide: getLayoutOption('headerBarHidden'), headerbarShow: !getLayoutOption('headerBarHidden')}"
     ng-show="!getLayoutOption('fullscreen')"
     ng-cloak>
</div>

<header
  id="topnav"
  class="navbar ng-hide"
  ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
  ng-controller="MainController"
  role="banner"
  ng-show="!layoutLoading"
  ng-cloak>
  <a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a>
  <!--	<a id="rightmenu-trigger" ng-click="toggleRightBar()"></a>-->


  <div class="navbar-header pull-left">
    <img src="./assets/img/logo.png" height="30px" style="margin:10px" ng-if="!userInfo.communityAdmin">
    <img ng-src={{CommonUtil.getSmallImage(community.logo)}} height="50px" style="margin:0 10px 0 10px" ng-if="userInfo.communityAdmin&&community.logo">
    <div class="header-text" ng-if="userInfo.communityAdmin&&community.logo">MilkCrate for Clients</div>
  </div>

  <ul class="nav navbar-nav pull-right toolbar" style="width:400px;">
    <li class="dropdown pull-right" ng-show="isLoggedIn" dropdown>
      <a href dropdown-toggle class="dropdown-toggle tooltips"><i class="glyphicon glyphicon-cog"></i></a>
      <ul class="dropdown-menu animated userinfo arrow">
        <li class="userlinks">
          <ul class="dropdown-menu">
            <li><a href="" ng-click="openProfile()">User Settings <i class="pull-right glyphicon glyphicon-pencil"></i></a></li>
            <li class="divider"></li>
            <li><a href="" class="text-right" ng-click="logOut()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li style="border-left:none">
      <span class="header-user-name pull-right">{{getUserName()}}</span>
    </li>
  </ul>
</header>
<script type="text/ng-template" id="userProfile.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h3 class="modal-title">User Settings</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <tabset tab-theme="info" tab-position="top">
          <tab heading="Profile">
            <form action="" class="form-horizontal row-border" name="form.validateForm">
              <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="form.name" required placeholder="Required" spellcheck="false">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-6">
                  <input type="email" class="form-control" ng-model="form.email" spellcheck="false" readonly>
                </div>
              </div>
              <div data-ng-show="isLoadingSaveProfile" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                <div style="margin: 150px;">
                  <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                </div>
              </div>
            </form>
            <div class="row" style="padding-bottom:0;margin-bottom:0">
              <button class="btn pull-right" style="width:120px;margin-right:20px;" ng-click="saveProfile();" ng-disabled="!canSubmitValidationForm()">Save</button>
            </div>
          </tab>
          <tab heading="Change Password">
            <form action="" class="form-horizontal row-border" name="form.accountForm">
              <div class="form-group" style="padding-top:20px">
                <label class="col-sm-3 control-label">Old Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" data-ng-minlength=4 ng-model="form.oldPassword" required placeholder="Required" ng-change="form.isValidPassword=false;">
                </div>
                <div class="col-md-3"><p class="help-block red" style="margin-top:8px;" ng-show="form.isValidPassword"><i class="glyphicon glyphicon-remove-circle"></i>Password incorrect</p></div>
              </div>
              <hr>
              <div class="form-group">
                <label class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" data-ng-minlength=4 ng-model="form.newPassword" required placeholder="At least 8 characters">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Confirm Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" password-verify="form.newPassword" ng-model="form.confirmPassword" required placeholder="Required">
                </div>
              </div>
            </form>
            <div class="row" style="padding-bottom:0;margin-bottom:0">
              <button class="btn pull-right" style="width:120px;margin-right:20px;" ng-click="saveAccount()" ng-disabled="!canSubmitAccountForm()">Save</button>
            </div>
            <div data-ng-show="isLoadingSaveAccout" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
              <div style="margin: 80px;">
                <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</script>
