<div ng-controller="CommunityActivityEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/communityActivities">User Activity</a></li>
            <li class="active">{{activities.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;border-top: 2px solid #87858C;">
            <button class="btn btn-primary pull-right" ng-click="saveActivityDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
        </div>
        <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);">
            <form class="form-horizontal"  name="form.validateForm">

<!--                <div class="form-group">
                    <label class="col-sm-3 control-label">User</label>
                    <div class="col-sm-6">
                        <select ng-model="activity.user" class="form-control w100" ng-change="onChangeUser()">
                            <option value="">Select a User</option>
                            <option ng-repeat="item in userList" value="{{item._id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>       -->

                <div class="form-group">
                    <label class="col-sm-3 control-label">User</label>
                    <div class="col-sm-6">
                        <ui-select ng-model="filter.user" title="Select a User" on-select="onChangeUser()">
                            <ui-select-match placeholder="Select or search a user in the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in userList | filter: $select.search">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Client</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="community" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-6">
                        <select ng-model="activity.type" class="form-control w100" ng-change = "onChangeType()">
                            <option value="">Select a Type</option>
                            <option ng-repeat="item in TypeList" value="{{item}}">{{item=='business'?'place':item}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Activity</label>
                    <div class="col-sm-6">
                        <ui-select ng-model="filter.activity" title="Select a User" on-select="onChangeActivity()">
                            <ui-select-match placeholder="Select or search a user in the list...">{{$select.selected.name||$select.selected.title}}</ui-select-match>
                            <ui-select-choices repeat="item in activityList track by $index"
                                               refresh="refreshActivity($select.search)"
                                               refresh-delay="0">
                                <span ng-bind-html="item.name||item.title | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Activity Summary</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" ng-model="activity.summary"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Link</label>
                    <div class="col-sm-6">
                        <input type="url" class="form-control" ng-model="activity.link">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Points</label>
                    <div class="col-sm-6">
                        <input input-number type="number" class="form-control" ng-model="activity.points">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Like Count</label>
                    <div class="col-sm-6">
                        <input input-number type="number" class="form-control" ng-model="activity.likeCount">
                    </div>
                </div>

            </form>
        </div>
        <script type="text/javascript">

        </script>

        <script type="text/ng-template" id="pickItems.html">
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <div class="w100" style="display: inline-block">
                    <button class="btn btn-sky-alt btn-select-item pull-left {{isPickedItem(item)?'btn-picked':''}}" ng-repeat="item in selectedItems" ng-click="togglePickItem(item,$event)">{{item.name}}</button>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()">Close</button>
            </div>
        </script>
    </div> <!-- container-fluid -->
</div>
