<div ng-controller="CommunityActivityController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">User Activity</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel panel-class="panel-default">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2>{{collectionView.totalItems}} User Activity</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-5">
                            <div class="input-icon right mb10">
                                <i class="fa fa-search"></i>
                                <input type="text" ng-model="collectionView.searchTerm" class="form-control" placeholder="Search Filter" ng-enter="onSearch()">
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-3 text-right">
                            <button class="btn btn-primary" ng-click="reset()">Reset</button>
                            <button class="btn btn-primary" ng-click="createActivity($event)">New Activity</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>User Avatar</th>
                                    <th>User Name</th>
                                    <th>Client</th>
                                    <th>Activity Summary</th>
                                    <th>When</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in activityList" ng-click="editActivity(item, $event)" style="cursor: pointer;">
                                    <td>
                                        <a href="" ng-click="CommonUtil.openURL($event, item.user.avatar)">
                                            <img ng-src="{{CommonUtil.getAvatarThumbnail(item.user.avatar, item.user)}}" style="height:60px;">
                                        </a>
                                    </td>
                                    <td>
                                        {{item.user.name}}
                                    </td>
                                    <td>
                                        {{item.community.name}}
                                    </td>
                                    <td>
                                        {{item.summary}}
                                    </td>run
                                    <td>
                                        <nobr>{{CommonUtil.formatDateWithFormat(item._bmd.createdAt, 'MMM DD,YYYY hh:mm a')}}</nobr>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteActivity(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </panel>
                <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                    <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
