<div class="container-fluid" ng-controller="DashboardController">
    <div class="row">
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="info-tiles tiles-indigo">
                        <div class="tiles-heading">
                            <div class="text-center">Total Users</div>
                        </div>
                        <div class="tiles-body">
                            <div class="text-center">{{(data.totalUsers||0)|number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="info-tiles tiles-purple">
                        <div class="tiles-heading">
                            <div class="text-center">Total Activities</div>
                        </div>
                        <div class="tiles-body">
                            <div class="text-center">{{(data.totalActivities||0)|number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="info-tiles tiles-success">
                        <div class="tiles-heading">
                            <div class="text-center">Total Points</div>
                        </div>
                        <div class="tiles-body">
                            <div class="text-center">{{(data.totalPoints||0)|number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 animated-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="info-tiles tiles-info">
                        <div class="tiles-heading">
                            <div class="text-center">Points This Week</div>
                        </div>
                        <div class="tiles-body">
                            <div class="text-center">{{(data.thisWeekPoints||0)|number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated-content" ng-drop="true" ng-if="!user.communityAdmin">
            <panel panel-class="panel-default no-padding" ng-drag="true" heading="Clients">
                <div class="table-responsive">
                    <table class="table" style="margin-bottom: 0px;">
                        <thead>
                            <th class="text-center">Logo</th>
                            <th>Client Name</th>
                            <th class="text-center">Total Points</th>
                            <th class="text-center">Avg. Points/User</th>
                        </thead>
                        <tbody class="selects">
                        <tr ng-repeat="item in communities">
                            <td class="col-xs-3 text-center">
                                <a href="#/communities/{{item._id}}">
                                    <img ng-src="{{CommonUtil.getSmallImage(item.logo)}}" style="height: 30px;">
                                </a>
                            </td>
                            <td class="col-xs-4">
                                <a href="#/communities/{{item._id}}" style="color:#707980">
                                    <strong>{{item.name}}</strong>
                                </a>
                            </td>
                            <td class="col-xs-2 text-center">{{item.points||0}}</td>
                            <td class="col-xs-3 text-center">{{item.userCount>0?(item.points/item.userCount).toFixed(1):'0.0'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </panel>
        </div>
        <div class="col-md-6 animated-content" ng-drop="true" ng-if="!user.communityAdmin">
            <panel panel-class="panel-default no-padding" ng-drag="true" heading="Newest Users">
                <div class="table-responsive">
                    <table class="table" style="margin-bottom: 0px;">
                        <tbody class="selects">
                        <tr ng-repeat="ua in newUsers">
                            <td class="col-xs-2 text-center">
                                <a href="#/users/{{ua._id}}">
                                    <img ng-src="{{CommonUtil.getAvatarThumbnail(ua.avatar, ua)}}" alt={{ua.name}} class="img-circle" style="width: 30px; height: 30px;">
                                </a>
                            </td>
                            <td class="col-xs-5">
                                <a href="#/users/{{ua._id}}" style="color:#707980">
                                    <strong>{{ua.name}}</strong><br>{{ua.email}}
                                </a>
                            </td>
                            <td class="col-xs-2"><strong>{{ua.community.name}}</strong></td>
                            <td class="col-xs-3">{{CommonUtil.formatDateWithFormat(ua._bmd.createdAt, "YYYY-MM-DD HH:mm")}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="active">
                            <td colspan="4" class="text-left" style="background: none;">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <pagination class="mb0 pagination-sm" boundary-links="false" total-items="newUsersPage.totalItems" ng-model="newUsersPage.currentPage" items-per-page="newUsersPage.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" class="pull-right" ng-change="onNewUsersPageChange()"></pagination>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </panel>
        </div>
        <div class="col-md-6 animated-content" ng-drop="true" ng-if="user.communityAdmin">
            <panel panel-class="panel-default no-padding" ng-drag="true" heading="Leaderboard">
               <div class="table-responsive">
                    <table class="table" style="margin-bottom: 0px;">
                        <tbody class="selects">
                        <tr ng-repeat="ua in leaderBoard">
                            <td class="col-xs-2 text-center">{{ua.rank}}</td>
                            <td class="col-xs-2"><img ng-src="{{CommonUtil.getAvatarThumbnail(ua.avatar, ua)}}" alt={{ua.name}} class="img-circle" style="width: 30px; height: 30px;"></td>
                            <td class="col-xs-6"><strong>{{ua.name}}</strong><br>{{ua.email}}</td>
                            <td class="col-xs-2">{{ua.points||0}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="active">
                            <td colspan="4" class="text-left" style="background: none;">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <pagination class="mb0 pagination-sm" boundary-links="false" total-items="leaderboardPage.totalItems" ng-model="leaderboardPage.currentPage" items-per-page="leaderboardPage.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" class="pull-right" ng-change="onLeaderBoardPageChange()"></pagination>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </panel>
        </div>
        <div class="col-md-6 animated-content" ng-drop="true" ng-if="user.communityAdmin">
            <panel panel-class="panel-default no-padding" ng-drag="true" heading="Newest Users">
                <div class="table-responsive">
                    <table class="table" style="margin-bottom: 0px;">
                        <tbody class="selects">
                        <tr ng-repeat="ua in newUsers">
                            <td class="col-xs-2 text-center"><img ng-src="{{CommonUtil.getAvatarThumbnail(ua.avatar, ua)}}" alt={{ua.name}} class="img-circle" style="width: 30px; height: 30px;">
                            <td class="col-xs-4"><strong>{{ua.name}}</strong><br>{{ua.email}}</td>
                            <td class="col-xs-6">{{CommonUtil.formatDateWithFormat(ua._bmd.createdAt, "YYYY-MM-DD h:mm a")}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="active">
                            <td colspan="4" class="text-left" style="background: none;">
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <pagination class="mb0 pagination-sm" boundary-links="false" total-items="newUsersPage.totalItems" ng-model="newUsersPage.currentPage" items-per-page="newUsersPage.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" class="pull-right" ng-change="onNewUsersPageChange()"></pagination>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </panel>
        </div>
        <div class="col-md-6 animated-content" ng-drop="true" ng-if="user.communityAdmin">
            <div ng-controller="TasksController">
                <script type="text/ng-template" id="items_renderer.html">
                    <div class="task-container" as-sortable-item-handle>
                        <!-- <input type="checkbox"> -->
                        <span class="label label-{{item.color || 'primary'}}" ng-show="!item.editing"></span>
                        <span class="task-description" ng-show="!item.editing">{{item.title}}</span>

                        <form class="form-horizontal" ng-submit="doneEditing(item)" ng-show="item.editing" data-nodrag>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <div class="btn-group" dropdown style="">
                                                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                                    <div class="label label-{{item.color||'primary'}} color-block"></div>
                                                </button>
                                                <ul class="dropdown-menu dropdown-colors" role="menu">
                                                    <li><span class="label label-success" ng-click="item.color='success'"></span></li>
                                                    <li><span class="label label-primary" ng-click="item.color='primary'"></span></li>
                                                    <li><span class="label label-warning" ng-click="item.color='warning'"></span></li>
                                                    <li><span class="label label-danger" ng-click="item.color='danger'"></span></li>
                                                    <li><span class="label label-info" ng-click="item.color='info'"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control no-validate" ng-model="item.title" placeholder="Task title..." ng-keyup="cancelEdit($event, item)">
                                        <div class="input-group-btn">
                                            <input type="submit" class="btn btn-primary" value="Save" / >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="options todooptions">
                        <div class="btn-group" ng-show="!item.editing">
                            <button data-nodrag class="btn btn-default btn-xs" ng-click="complete(this, item)"><i class="glyphicon glyphicon-ok"></i></button>
                            <button data-nodrag class="btn btn-default btn-xs" ng-click="edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button data-nodrag class="btn btn-default btn-xs" ng-click="remove(this, item)"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                    </div>
                </script>

                <div class="row">
                    <div class="col-xs-12">

                        <panel heading="Tasks" panel-class="panel-default" ng-drag="true">
                            <panel-controls>
                                <panel-control-collapse></panel-control-collapse>
                                <button class="btn btn-primary btn-sm mr10" ng-click="showForm=true;showTasksTab=true;showCompletedTab=false" style="margin-top: -5px;">Add Task</button>
                            </panel-controls>
                            <div>
                                <form class="form-horizontal" name="create_task" ng-show="showForm">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <div class="btn-group" dropdown style="">
                                                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                                                            <div class="label label-{{newTaskColor||'primary'}} color-block"></div>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-colors" role="menu">
                                                            <li><span class="label label-success" ng-click="newTaskColor='success'"></span></li>
                                                            <li><span class="label label-primary" ng-click="newTaskColor='primary'"></span></li>
                                                            <li><span class="label label-warning" ng-click="newTaskColor='warning'"></span></li>
                                                            <li><span class="label label-danger" ng-click="newTaskColor='danger'"></span></li>
                                                            <li><span class="label label-info" ng-click="newTaskColor='info'"></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control no-validate" ng-model="newTaskTitle" placeholder="Task title..." ng-keyup="cancelAdd($event)">

                                                <div class="input-group-btn">
                                                    <button
                                                            ng-click="newItem(newTaskTitle, newTaskLabelText, newTaskColor)"
                                                            class="btn btn-success btn-block"
                                                    >Add Task</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xs-3 col-md-2">

                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div id="tasks-demo">
                                <div class="tasklist">
                                    <ul ng-model="tasks" as-sortable="{containerPositioning: 'relative', containment: '#tasks-demo'}" class="panel-tasks">
                                        <li
                                                as-sortable-item
                                                ng-repeat="item in tasks"
                                                ng-include="'items_renderer.html'"
                                                ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
                                        >
                                        </li>
                                    </ul>
                                </div>
                                <div class="tasklist">
                                    <ul ng-model="tasksComplete" as-sortable="{containerPositioning: 'relative', containment: '#tasks-demo'}" class="panel-tasks completed">
                                        <li
                                                as-sortable-item
                                                ng-repeat="item in tasksComplete"
                                                ng-style="{'border-left': item.color? '2px solid '+item.color:''}"
                                        >
                                            <div class="task-container">
                                                <span class="label label-{{item.color || 'primary'}}" ng-show="item.label"></span>
                                                <span class="task-description">{{item.title}}</span>
                                            </div>
                                            <div class="options todooptions">
                                                <div class="btn-group" ng-show="!item.editing">
                                                    <button data-nodrag class="btn btn-default btn-xs" ng-click="incomplete(item, $index)"><i class="glyphicon glyphicon-repeat"></i></button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </panel>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container-fluid -->
