<div ng-controller="PollQuestionController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active">Poll Questions</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel panel-class="panel-default">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="pull-left">
                                <h2>{{pollquestionList.length}} Poll Questions</h2>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-primary" ng-click="createPollQuestion($event)"  ng-if="user.communityAdmin">New Poll Question</button>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;" ng-if="!user.communityAdmin">
                        <div class="col-md-4">
                            <div class="input-icon right mb10" >
                                <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="getPollQuestions()">
                                    <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-icon right mb10" ng-if="communityTeams.length>0">
                                <ui-select style="width:100%" ng-model="filter.team" title="Select a Team" on-select="getPollQuestions()">
                                    <ui-select-match placeholder="Select a Team">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityTeams | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-primary" ng-click="createPollQuestion($event)">New Poll Question</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Topic</th>
                                    <th>Question</th>
                                    <th>Answer Count </th>
                                    <th>Response Count</th>
                                    <th ng-if="!user.communityAdmin">Client</th>
                                    <th ng-if="!user.communityAdmin">Teams</th>
                                    <th>Date Added</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pollquestionList" ng-click="editPollQuestion(item, $event)" style="cursor: pointer;">
                                    <td>
                                        {{item.topic}}
                                    </td>
                                    <td>
                                        {{item.question}}
                                    </td>
                                    <td>
                                        {{item.answerCount}}
                                    </td>
                                    <td>
                                        {{getResponseCount(item.responseCounts)}}
                                    </td>
                                    <td ng-if="!user.communityAdmin">
                                        {{getCommunityNames(item.communities)}}
                                    </td>
                                    <td ng-if="!user.communityAdmin">
                                        {{getTeamNames(item.teams)}}
                                    </td>
                                    <td>
                                        <nobr>{{CommonUtil.formatDateWithFormat(item._bmd.createdAt, 'YYYY/MM/DD HH:mm')}}</nobr>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deletePollQuestion(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </panel>
            <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                    <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                </div>
            </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
