<div ng-controller="PollQuestionEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/pollQuestions">Poll Questions</a></li>
            <li>{{pollQuestion.topic}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="padding:20px; border:0px; border-color:#ffffff">
             <tab heading="Details" style="border:0px; border-color:#ffffff">
                 <div style="display: inline-block;width: 100%;border-bottom: 1px solid #ddd;">
                     <div class="pull-left">
                         <h2>Question</h2>
                     </div>
                     <div class="pull-right">
                         <button class="btn btn-primary pull-right" ng-click="savePollQuestionDo()" ng-disabled="!isValidForm()">
                             <span ng-show="isSaving"><i class="fa fa-spin fa-spinner"></i>&nbsp;</span>
                             Save
                         </button>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-12">
                         <form class="form-horizontal pt10"  name="form.validateForm">
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Topic *</label>
                                 <div class="col-sm-6">
                                     <input class="form-control" ng-model="pollQuestion.topic" required>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Question</label>
                                 <div class="col-sm-6">
                                     <input class="form-control" ng-model="pollQuestion.question" >
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Details</label>
                                 <div class="col-sm-6">
                                     <textarea class="form-control" ng-model="pollQuestion.details" style="min-height: 200px"></textarea>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Points</label>
                                 <div class="col-sm-6">
                                     <input input-number type="number" class="form-control" ng-model="pollQuestion.points" required>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Poll Date</label>
                                 <div class="col-sm-6">
                                     <div class="input-group">
                                         <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="formData.pollDate" is-open="formData.openedDateSelector" close-text="Close"/>
                                         <div class="input-group-btn">
                                             <button type="button" class="btn btn-default" ng-click="openDateWindow($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div ng-if="!user.communityAdmin">
                                 <div class="form-group" ng-if="!isEditMode">
                                     <label class="col-sm-3 control-label">Clients *</label>
                                     <div class="col-sm-6">
                                         <div class="w100" style="position:relative">
                                             <ui-select class="w100" multiple ng-model="formData.communities" theme="bootstrap" close-on-select="false" title="Select clients" required>
                                                 <ui-select-match placeholder="Select clients">{{$item.name}}</ui-select-match>
                                                 <ui-select-choices repeat="item in communityList | filter:$select.search">
                                                     {{item.name}}
                                                 </ui-select-choices>
                                             </ui-select>
                                             <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group" ng-if="isEditMode">
                                     <label class="col-sm-3 control-label">Client</label>
                                     <div class="col-sm-6">
                                         <div class="w100" style="position:relative">
                                             <ui-select class="w100" multiple ng-model="formData.communities" theme="bootstrap" close-on-select="false" title="Select clients" ng-disabled="true">
                                                 <ui-select-match placeholder="Select clients">{{$item.name}}</ui-select-match>
                                                 <ui-select-choices repeat="item in communityList | filter:$select.search">
                                                     {{item.name}}
                                                 </ui-select-choices>
                                             </ui-select>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group" ng-if="isEditMode && teams.length>0">
                                     <label class="col-sm-3 control-label">Teams</label>
                                     <div class="col-sm-6">
                                         <div class="w100" style="position:relative">
                                             <ui-select class="w100" multiple ng-model="formData.teams" theme="bootstrap" close-on-select="false" title="All Users">
                                                 <ui-select-match placeholder="All Users">{{$item.name}}</ui-select-match>
                                                 <ui-select-choices repeat="item in teams | filter:$select.search">
                                                     {{item.name}}
                                                 </ui-select-choices>
                                             </ui-select>
                                         </div>
                                     </div>
                                 </div>
                             </div>

                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Enable</label>
                                 <div class="col-sm-6">
                                     <input type="checkbox" ng-model="pollQuestion.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Answers</label>
                                 <div class="col-sm-9">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <div class="col-md-12" style="font-weight:bold;border-bottom:1px solid #eee; padding:10px">
                                                 <div class="col-md-4">
                                                     Title
                                                 </div>
                                                 <div class="col-md-2 text-center">
                                                     Position
                                                 </div>
                                                 <div class="col-md-2 text-center" ng-if="isEditMode">
                                                     Count
                                                 </div>
                                                 <div class="col-md-2 text-center" ng-if="isEditMode">
                                                     Percentage
                                                 </div>
                                                 <div class="col-md-2 text-center">
                                                     <button class="btn btn-sm btn-info pull-right" style="margin-top:-5px" ng-click="createPollQuestionAnswer($event)">New</button>
                                                 </div>
                                             </div>
                                             <div class="col-md-12" class="answers-container" id="answers-container" style="padding:0px; padding-top:5px">
                                                 <div  class="col-md-12 answer-content" ng-repeat="item in answerList" ng-click="editPollQuestionAnswer(item, $event)" style="padding-top:10px;cursor: pointer;">
                                                     <input type="hidden" id="answerId-input" value="{{item.$$hashKey}}">
                                                     <div class="col-md-4">
                                                         {{item.title}}
                                                     </div>
                                                     <div class="col-md-2 text-center">
                                                         {{item.position}}
                                                     </div>
                                                     <div class="col-md-2 text-center" ng-if="isEditMode">
                                                         {{getCount(item)}}
                                                     </div>
                                                     <div class="col-md-2 text-center" ng-if="isEditMode">
                                                         {{responseList.length==0?0:(getCount(item) * 100/responseList.length).toFixed(1)}}
                                                     </div>
                                                     <div class="col-md-2 text-center">
                                                         <button class="btn btn-sm btn-danger pull-right" ng-click="deletePollQuestionAnswer(item, $event)">Delete</button>
                                                     </div>
                                                 </div>
                                                 <div class="col-md-12" ng-if="answerList.length==0">
                                                     <p class="text-center">There is no answer</p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
                 <div class="bottom-button">
                     <button class="btn btn-primary pull-right" ng-click="savePollQuestionDo()" ng-disabled="!isValidForm()">
                         <span ng-show="isSaving"><i class="fa fa-spin fa-spinner"></i>&nbsp;</span>
                         Save
                     </button>
                 </div>
             </tab>
            <tab heading="Responses({{responseList.length}})"  ng-if="isEditMode">
                <div id="respons-div" style="padding:20px;">
                    <div id="response-pie" style="height: 200px;width:400px;margin:0 auto" ng-show="responseList.length>0"></div>
                    <div>
                        <div class="pull-left">
                            <h2>{{pollQuestion.question}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Answer </th>
                                    <th>Response At </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in responseList">
                                    <td>
                                        <a ng-href="#/users/{{item.user._id}}">{{item.user.name||item.user.username}}</a>
                                    </td>
                                    <td>
                                        {{item.answer.title}}
                                    </td>
                                    <td>
                                        {{CommonUtil.formatDateTime(item._bmd.createdAt)}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tab>
    </tabset>
        <script type="text/ng-template" id="editAnswer.html">
            <div class="modal-header">
                <h3 class="modal-title">Answer</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  name="form.validateForm2">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="pollAnswer.title" required>
                        </div>
                    </div>

                    <div class="form-group" ng-show="pollAnswer._id">
                        <label class="col-sm-3 control-label">Count</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="pollAnswer.count" disabled>
                        </div>
                    </div>
                    <div class="form-group" ng-show="pollAnswer._id">
                        <label class="col-sm-3 control-label">Percentage</label>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="pollAnswer.percentage" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="close()">Cancel</button>
                <button class="btn btn-primary" ng-click="saveAnswerDo()"  ng-disabled="!canSubmitValidationForm()">Save Answer</button>
            </div>
        </script>
    </div> <!-- container-fluid -->
</div>
