@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

.header_site {
    background: #fff;
    border: 0;
    margin-bottom: 0;
    padding: 8px;
    box-shadow: 0px 0px 20px #d2d2d2;
    z-index: 5;
}

.header_site .navbar-nav > li > a {
    color: #000;
}

.header_site .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.logo_site img {
    position: relative;
    top: -7px;
}

/* Navigation Search */

.slide {
    overflow: hidden;
}

.food_right {
    float: right;
    width: 30%;
}

.food_right img {
    max-width: 100%;
    right: -100px;
    position: relative;
}

.navigation_search {
    text-align: center;
    background: #f3f3f3;
    margin-top: 0px;
    position: relative;
}

.navigation_search h2 {
    font-family: 'Montserrat';
}

.box_search {
    width: 37%;
    margin: 85px auto 0;
}

.serach_form {
    background: #fff;
    width: 100%;
    margin: 39px auto 0;
    box-shadow: 0px 0px 15px #dcdcdc;
}

.serach_form input {
    width: 73%;
    padding: 23px 23px !important;
    border-radius: 0;
    font-family: 'Montserrat';
    border: 0;
}

.serach_form button {
    width: 27%;
    background: #fd1a11;
    color: #fff;
    border-radius: 0;
    padding: 13px;
    font-family: 'Montserrat';
    font-size: 12px;
}

.serach_form button:hover{
    color: #fff
}

.serach_form input, button {
    display: inline-block;
    vertical-align: middle;
}

/* Home Results */

.home_results{
    padding: 40px 0 0;
    text-align: center
}

.home_results h2 {
    font-family: 'Montserrat';
}

._grids_business {
    margin: 60px 0 0;
}

._business_data {
    text-align: left;
}

.restaurant_name {
    padding: 8px 0 0;
    font-size: 16px;
}

.restaurant_filter {
    font-size: 14px;
    color: #989898;
}

.restaurant_time {
    font-size: 12px;
    padding: 5px 0;
    display: block;
    color: #000;
}


/* ========= How It Works */

.how_works {
    margin: 55px 0 0;
    background: #222;
    padding: 20px;
    text-align: center;
}

.how_works h2 {
    color: #fff;
}

.cont_works {
    padding: 60px;
}


.download_app {
    margin: 70px 0 0;
    position: relative;
}

.bg_app {
    height: 220px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fd1e17;
    background-image: -webkit-linear-gradient(left, #fd7774 0%, #fd1a11 100%);
    background-image: -o-linear-gradient(left, #d02521 0%, #e14643 100%);
    background-image: linear-gradient(to right, #fd7774 0%, #fd1a11 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD02521', endColorstr='#FFE14643', GradientType=1);
}

.relative{
    position: relative;
}

.download_box {
    position: absolute;
    bottom: 15px;
    left: 40%;
    color: #fff;
}

.stores_app {
    margin-top: 22px;
}

.stores_app a {
    margin: 10px 13px 0 0;
}

.stores_app img {
    width: 40%;
}

/* ======================== */

.form_register {
    width: 70%;
    margin: 0 auto;
}

._btn_regiters{
    background: #da3a36;
    color: #fff;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

._btn_regiters:hover{
    color: #fff;
}

.welcome_register{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#registerForm{
    margin-top: 20px
}

.register_restaurants {
    margin: 55px 0 0;
}

.business_register {
    width: 80%;
    border: 1px #ececec solid;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #e4e0e0;
}