
/*------First Page Designing--------*/

img{border:0px; max-width:100%;}
.marT2{margin-top:10px;} .marT3{margin-top:20px;} .marT4{margin-top:80px;}
.marB2{margin-bottom: 10px;} .marB3{margin-bottom:20px;}
.orange{color:#f29f00;}
.blue{color:#399aed;}

.grey_effect{filter: grayscale(100%) !important;-webkit-filter: grayscale(100%) !important;;
  -moz-filter: grayscale(100%) !important;;
  -ms-filter: grayscale(100%) !important;;
  -o-filter: grayscale(100%) !important;; opacity:.5;}
.orange_effect:hover{border:2px solid orange; transition: all .3s;}
.panel{padding:0px; margin:0px;}
.panel_div:hover{border:1px solid #f29f00; box-shadow:0px 3px 10px #000;opacity:.6; cursor:pointer;}

.panel_div{ position: relative;color:#000;}
.panel_div h3{font-weight:600;color:#3b4a51;}
.panel_div p{color:#b4b4b4;}
.panel_div span{font-size:14px;font-weight:600;}
.image {opacity: 1;display: block;width: 100%;height: auto;transition: .5s ease;backface-visibility: hidden;}
.middle {transition: .5s ease;opacity: 0;position: absolute;top: 25%;left: 23%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);text-align: center;}
.panel_div:hover .middle {opacity: 1;}



.text { //background-color: #4CAF50; color: white;font-size: 16px;padding: 16px 32px;}
.span_pad1{margin-left:120px;}
.span_pad2{margin-left:40px;}

.panel_div, .panel_div1 span{font-weight:600;}
.panel_btn{background:#f29f00;width:150px;font-size:20px;color:#fff;padding:20px 15px;border-radius:0px;}
.panel_btn:hover .panel{border:1px solid #000;}

.panel_div1{display:none; color:#000;}

/*---------Second page designing---------*/

.tab{background-color: #fff;}
.tab i{font-size:20px;margin-right:10px;}
.tab button {background-color:transparent;color: #000;border:0px;border-bottom:1px solid #eee;cursor: pointer;font-size: 16px;text-align: left;width:100%;}
.tabcontent {padding: 0 30px 20px 20px;color:#000;border: 1px dotted rgba(247, 214, 0, 0.31);font-size:16px; border-right:0; border-left:0;}
.tabcontent h4{font-weight: bold;font-size:20px;color:#000;}
.tabcontent p{font-size:16px;}


.tab_div{padding: 25px 0px;overflow:hidden;}
.tab_div:focus{border-right:5px solid #9fc3ae; color:#9fc3ae;border-radius:0px;}
.tab_div:visited{border-right:5px solid #9fc3ae; color:#9fc3ae;border-radius:0px;}

.progress_div{background:#fff;padding:30px;}
.green_bg{background:#9fc3ae;color:#fff;padding:15px;font-size:18px;border-radius: 3px;}

.tab_image{border-radius:10px;margin:10px 0;}
.tab_image img{border-radius:3px 3px 0px 0px;}
.image_tab{width:100%; min-height:200px;}
.tab_image_text{background:#fff; color:#000;border-radius:0px 0px 3px 3px;padding:10px;font-size:16px;font-weight:600; }
.table th{color:#959595; font-size:14px;}
.tab_table i{font-weight:600;font-size:18px;}
.tab_table tr td{padding:20px 10px !important;}
.tab_table1 i{color:#9fc3ae;}

.tab_table1 tr td{padding:20px !important;}
.tab_table1 tr td:last-child{border:0;}
.tab_table1 tr active{border:0px;}
.width40{width:40%;} .width:60{width:60%;}

.search_box{background:#fff; padding:20px; border:1px solid #eee;}
.m_search_box{display:none;}



.mobile_tab{display:none;width:100%;overflow:hidden;}
.mobile_nav{background:#fff;padding:0px 0px;}
.mobile_nav li{width:24%;margin: 0px 0 0 1px;padding:15px 0 0 0 ;border-right: 1px solid #9fc3ae;}
.mobile_nav li:last-child{border:0;}

/*
.mobile_nav li a:hover{background:none; border-radius: 0;}
.mobile_nav li a:active{background:none; }
.mobile_nav li a:visited{background:none;}
*/

.mobile_nav li a{ font-weight:600; color:#3b4a51;border-bottom:8px solid transparent;text-align: center;
border-radius: 0;overflow:hidden;}
.mobile_nav i{font-size:24px;}
.mobile_nav li a:hover, .mobile_nav li a:visited, mobile_nav li a:focus{background:none;border-radius:0px;color:#3b4a51;border-bottom:8px solid #9fc3ae;transition:all .5s;}
/*.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background:transparent;color:#9fc3ae;}*/

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: 3b4a51;
    background-color: none;
}



@media only screen and (max-width:767px){
   .panel_div{ position: relative;width: 45%; float:left; color:#000;}
    .span_pad1{margin-left:150px;}
    .span_pad2{margin-left:90px;}
	.panel_div{margin:0 10px;}
    
}

@media only screen and (max-width:667px){
    .panel_div{ position: relative;width: 100%; color:#000;}
    .span_pad1{margin-left:400px;}
    .span_pad2{margin-left:350px;}
    .panel_image{margin-left:100px;}
    .panel_btn{width:100px;padding:5px;}
    .panel_div{display: none;}
    .panel_div1{display:block;}    
    .panel_div1:hover .image {opacity: 0.1;}
    .panel_div1:hover .middle {opacity: 1;}
    .middle {top: 30%;left: 40%;}
	.mobile_img{width:150px;}
	.desktop_tab{display:none;}
	.mobile_tab{display:block;}
    .mobile_nav li a{padding:10px 12px;font-size:16px;}
    .mobile_nav li a:hover{background:transparent !important;}
    .tab i{font-size:20px;}
    .nav > li > a:hover, .nav > li > a:focus {background:transparent;}
    .m_search_box{display:block;background:#fff; padding:20px;} 
    
    .tab_image{width:48%;float:left;min-height:270px;margin:5px 5px;}
    
    #panel_modal{display: block;}
    
    .desktop_table{display:none;}
    .mobile_table{display:block;font-size:18px;color:#3b4a51;}
    .mobile_table span{font-size:16px; color:#979797;}
    .mobile_table i{font-size:26px; vertical-align: middle;}
     .marT4{margin-top:50px;}
}

@media screen and (max-width: 568px){
    .span_pad1{margin-left:250px;}
    .span_pad2{margin-left:200px;}
    .panel_image{margin-left:50px;}
	.mobile_img{width:120px;}
    .marT4{margin-top:30px;}
    .tab_image{width:47%;float:left;min-height:220px;margin:5px 5px;}
}
@media screen and (max-width: 480px){
	 .span_pad1{margin-left:200px;}
    .span_pad2{margin-left:140px;}
    .panel_image{margin-left:20px;}
    .mobile_nav li a{font-size:12px;}
    .middle {top: 25%;left: 30%;}
    .marT4{margin-top:20px;}
    .mobile_nav li a{font-size:12px;}
    
     .tab_image{width:47%;float:left;min-height:200px;margin:5px 5px;}
}

@media only screen and (max-width:375px){
     .span_pad1{margin-left:150px;}
    .span_pad2{margin-left:80px;}
    
     .tab_image{width:98%;min-height:150px;margin:5px 5px;}
}