.portfolio-header {
  position: relative;
  background-image: url(/images/header-bg.jpg);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(/images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 1024px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(/images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(/images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(/images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 1024px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  background-image: url(/images/footer-background.png);
  background-size: cover;
}

.normal_title {
 font-size: 15px;
  color:#a3a3a3
}

button.imprevo-default {
  background: #399aed;
  color:white;
  font-size: 14px;
}

button.imprevo-default:hover {
  background: #2081d5;
}

.mdl-card {
  min-height: 0;
}

.mdl-mini-footer i {
  color:#6c937bff;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pt5 {
  padding-top:5px
}

.mdl-card__media.small-image {
  margin: 0 !important;
  height:150px !important;
  overflow:hidden;
}

.back-full-image {
  background: url(/images/back.png) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
}

.pointer {
  cursor: pointer;
}


/*------First Page Designing--------*/

img{border:0px; max-width:100%;}
.marT2{margin-top:10px;} .marT3{margin-top:20px;} .marT4{margin-top:80px;}
.marT5{position:absolute; top:37px; right:21px;border-radius: 5px !important;width:130px !important;}
.marB2{margin-bottom: 10px;} .marB3{margin-bottom:20px;}
.orange{color:#f29f00;}
.blue{color:#399aed;}
.blue1{color:#3b4a51;}
.blue2{color:#17b8f6;}

.grey_effect{filter: grayscale(100%) !important;-webkit-filter: grayscale(100%) !important;;
  -moz-filter: grayscale(100%) !important;;
  -ms-filter: grayscale(100%) !important;;
  -o-filter: grayscale(100%) !important;; opacity:.5;}
.orange_effect:hover{border:2px solid orange; transition: all .3s;}
.panel{padding:0px; margin:0px;}
.panel_div:hover{border:1px solid #f29f00; box-shadow:0px 3px 10px #000;opacity:.6; cursor:pointer;}

.panel_div{ position: relative;color:#000;}
.panel_div h3{font-weight:600;color:#3b4a51;}
.panel_div p{color:#b4b4b4;}
.panel_div span{font-size:14px;font-weight:600;}
.image {opacity: 1;display: block;width: 100%;height: auto;transition: .5s ease;backface-visibility: hidden;}
.panel_div .middle {transition: .5s ease;opacity: 0;position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);text-align: center;}
.panel_div:hover .middle {opacity: 1;}



.text { //background-color: #4CAF50; color: white;font-size: 16px;padding: 16px 32px;}


.panel_div, .panel_div1 span{font-weight:600;}
.panel_btn{
    background:#d6950f;
    width:150px;
    font-size:15px !important;
    color:#fff;
    padding:20px 15px;
    border-radius:0px;
  }
.panel_btn:hover{
  background:#bf8108;
  color:#fff !important;
}

.panel_div1{display:none; color:#000;}
.product-image{
  height:240px !important;
}
/*---------Second page designing---------*/

.tab{background-color: #fff;}
.tab i{font-size:20px;margin-right:10px;}
.tab button {background-color:transparent;color: #000;border:0px;border-bottom:1px solid #eee;cursor: pointer;font-size: 16px;text-align: left;width:100%;}
.tabcontent {padding: 0 30px 20px 20px;color:#000;font-size:16px; border-right:0; border-left:0;}
.tabcontent h4{font-weight: bold;font-size:20px;color:#000;}
.tabcontent p{font-size:16px;}

.tabcontent{display:none;}
.tabcontent.active{display:block}

.tab_div{padding: 25px 0px;overflow:hidden;outline: none; border:none;}
.tab_div.active{border-right:5px solid #9fc3ae; color:#9fc3ae;border-radius:0px;}


.progress_div{background:#fff;padding:30px;}
.green_bg{background:#9fc3ae;color:#fff;padding:10px;font-size:18px;border-radius: 3px;}


.tab_image{position: relative;border-radius:10px;margin:10px 0;padding:0px;cursor: pointer;}
.tab_image img{border-radius:3px 3px 0px 0px;}
.tab_image:hover{box-shadow:0px 2px 8px #000; transition: all .5s;}
.tab_image:hover > .overlay {position: absolute;height:100%; width:100%;background-color:#000;opacity:0.1;}

.image_tab{width:100%; min-height:200px;}
.tab_image_text{background:#fff; color:#000;border-radius:0px 0px 3px 3px;padding:10px;font-size:16px;font-weight:600; position:relative }
.pull-right{position:absolute;right:5px;top:10px}
.table th{color:#959595; font-size:14px;}
.tab_table i{font-weight:600;font-size:18px;}
.tab_table tr td{padding:10px 0px 10px 10px!important;}
.tab_table1 i{color:#9fc3ae;}

.tab_table1 tr td{padding:20px !important;}
.tab_table1 tr td:last-child{border:0;}
.tab_table1 tr active{border:0px;}

.m_tab_link{
  padding: 10px 0px !important;
  border-radius: 0px !important;
}

.btn-lesson{
  border:2px solid #fff !important;
  background:none;
  padding:10px;
  float:right;
  margin-top:-5px;
}

.btn-lesson:hover{
  border:none !important;
  background: #fff;
  color:#9fc3ae !important;
}

.width40{width:40%;} .width:60{width:60%;}


.search_box{background:#fff; padding:20px; border:1px solid #eee;}
.m_search_box{display:none;}



.mobile_tab{display:none;}
.mobile_nav{background:#fff;}
.mobile_nav li{width:25%;padding:0;margin:0;border-right: 1px solid #9fc3ae;}
.mobile_nav li:last-child{border:0;}

/*
.mobile_nav li a:hover{background:none; border-radius: 0;}
.mobile_nav li a:active{background:none; }
.mobile_nav li a:visited{background:none;}
*/

.mobile_nav li a{ font-weight:800; font-size:18px !important;color:#3b4a51;border-bottom:6px solid transparent;text-align: center;border-radius: 0;overflow:hidden;}
.mobile_nav i{font-size:26px;}
.mobile_nav li a:hover, .mobile_nav li a:visited, mobile_nav li a:focus{background:none;border-radius:0px;color:#3b4a51;border-bottom:6px solid #9fc3ae;transition:all .5s;}

.mobile_nav li a:active{color:#3b4a51;border-bottom:6px solid #9fc3ae!important;}

.nav-pills > li.active > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a:visited {
    color: 3b4a51!important;
    background-color: #fff !important;
    border-bottom:6px solid #9fc3ae!important;
}


.nav-pills > li + li {
    margin: 0px !important;
}

.tab_imag_right{
    float:right;
}

.tab_imag_left{
    float:left;
}

.mobile-banner-button{
  left:-webkit-calc(100% - 350px);
  left:-moz-calc(100% - 350px);
  left:calc(50% - 60px);
  top:73px;
  width:100px
}


@media (min-width: 1200px){
  .container {
      width: 1270px !important;
  }
}

@media only screen and (max-width:767px){
   .panel_div{ position: relative;width: 45%; float:left; color:#000;}

	.panel_div{margin:0 10px;}

}

@media only screen and (max-width:667px){
    .panel_div{ position: relative;width: 100%; color:#000;}
    .panel_image{margin-left:100px;}
    .panel_btn{width:120px;padding:5px;}
    .panel_div{display: none;}
    .panel_div1{display:block;}
    .panel_div1:hover .image {opacity: 0.1;}
    .panel_div1:hover .middle {opacity: 1;}
    .panel_div .middle {top: 30%;left: 40%;}
	.mobile_img{width:150px;}
	.desktop_tab{display:none;}
	.mobile_tab{display:block;}

    .mobile_nav li a{font-size:16px!important;}
    .mobile_nav li a:hover{background:transparent !important;}
    .tab i{font-size:20px;}
    .nav > li > a:hover, .nav > li > a:focus {background:transparent;}
    .m_search_box{display:block; padding:20px 0;}

    .tab_image{width:48%;margin:5px 5px;}

    #panel_modal{display: block;}

    .desktop_table{display:none;}
    .mobile_table{display:block;font-size:18px;color:#3b4a51;}
    .mobile_table span{font-size:16px; color:#979797;}
    .mobile_table i{font-size:26px; vertical-align: middle;}
     .marT4{margin-top:50px;}
}

@media screen and (max-width: 568px){

    .panel_image{margin-left:50px;}
	.mobile_img{width:120px;}
    .marT4{margin-top:30px;}
    .tab_image{width:47%;margin:5px 5px;height:142px; overflow:hidden}
    .mobile_nav li a{padding:0px;font-size:12px!important;}
    .progress_div{padding:5px;}
    .progress{height:15px !important;}

}
@media screen and (max-width: 480px){
    .panel_image{margin-left:20px;}
    .mobile_nav li a{font-size:12px;}
    .panel_div .middle {top: 25%;left: 30%;}
    .marT4{margin-top:20px;}
    .tab_image{width:47%; margin:5px 5px;}
    .tab_table , .tab_table1, .mobile_tab p, .mobile_tab span{font-size:12px;}
    .tab_image_text img{
      width: 20px;
      height:20px;
    }
    .tab_table1 tr td{padding:10px !important;}
    #course_title {
      font-size: 1.6rem;
    }


}

@media only screen and (max-width:375px){

    .mobile_nav li a{font-size:12px!important;}
     .tab_image{width:48%;margin:5px 2px;}
    .image_tab{ min-height:100px;}
}
