<div class="modal-header">
  <h3 class="modal-title">Geocode Address</h3>
</div>
<div class="modal-body">
  <div class="form-group" style="height:30px">
    <div class="col-sm-9">
      <input id="address" class="form-control">
    </div>
    <div class="col-sm-3">
      <button id="submit" class="btn btn-default">Geocode</button>
    </div>
  </div>
  <div id="geo_map" style="height:400px;width:100%"></div>
</div>
<div class="modal-footer">
  <div class="col-sm-8">
    <input id="geoLat" class="pull-left" style="border:none" readonly>
    <input id="geoLng" class="pull-left" style="border:none" readonly>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-default" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="confirmAddress()">Confirm</button>
  </div>
</div>
