<div class="row" ng-controller="ActivityTabController">
  <div class="col-md-12" style="padding:10px 20px;">
    <h3 ng-show="activityList.length>1">{{activityList.length}} users have done this</h3>
    <h3 ng-show="activityList.length==1">1 user have done this</h3>
    <h3 ng-show="activityList.length==0">No user have done this</h3>
    <div class="row" style="padding-bottom: 10px;" ng-if="!user.communityAdmin">
      <div class="col-md-5">
        <div class="input-icon right mb10">
          <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="loadList()">
            <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in communityList | filter: $select.search">
              <span ng-bind-html="item.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>User Avatar</th>
            <th>User Name</th>
            <th>Client</th>
            <th>When</th>
            <!--<th></th>-->
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in activityList" ng-click="editActivity(item, $event)" style="cursor: pointer;">
            <td>
              <a href="" ng-click="CommonUtil.openURL($event, item.user.avatar)">
                <img ng-src="{{CommonUtil.getAvatarThumbnail(item.user.avatar, item.user)}}" style="height:60px;">
              </a>
            </td>
            <td>
              {{item.user.name}}
            </td>
            <td>
              {{item.community.name}}
            </td>
            <td>
              <nobr>{{CommonUtil.formatDateWithFormat(item._bmd.createdAt, 'MMM DD,YYYY hh:mm a')}}</nobr>
            </td>
            <!--<td>
              <button class="btn btn-sm btn-danger pull-right" ng-click="deleteActivity(item._id, $event)">Delete</button>
            </td>-->
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12 text-center">
            <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
      <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
      </div>
    </div>
    <script type="text/ng-template" id="activityDetail.html">
      <div class="modal-header">
        <h3 class="modal-title">Activity</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal"  name="form.validateForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">User</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="activity.user.name" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Client</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="activity.community.name" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Activity Summary</label>
            <div class="col-sm-9">
              <textarea class="form-control" ng-model="activity.summary" readonly></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Link</label>
            <div class="col-sm-9">
              <input type="url" class="form-control" ng-model="activity.link" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Points</label>
            <div class="col-sm-9">
              <input input-number type="number" class="form-control" ng-model="activity.points" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Like Count</label>
            <div class="col-sm-9">
              <input input-number type="number" class="form-control" ng-model="activity.likeCount" readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Close</button>
        <!--<button class="btn btn-primary" ng-click="saveActivityDo()"  ng-disabled="!form.validateForm.$dirty">Save Activity</button>-->
      </div>
    </script>
  </div>
</div>
