<div ng-controller="CommunityUserController">
  <div id="page-heading">
    <ol class="breadcrumb">
      <!--<li><a href="#/">DashBoard</a></li>-->
      <li class="active">Users</li>
    </ol>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <panel panel-class="panel-default">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left">
                <h2>{{collectionView.totalItems}} Users</h2>
              </div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-4">
              <div class="input-icon right mb10">
                <i class="fa fa-search"></i>
                <input type="text" ng-model="collectionView.searchTerm" class="form-control" placeholder="Search Filter" ng-enter="onSearch()">
              </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-right">
              <button class="btn btn-primary" ng-click="reset()">Reset</button>
              <button class="btn btn-primary" ng-csv="exportData" csv-header="['Name', 'Email']" csv-column-order="['name','email']" filename="users.csv" field-separator="\t">Export</button>
              <button class="btn btn-primary" ng-click="createUser()">New User</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover" id="userListTable">
                <thead>
                <tr>
                  <th>Avatar</th>
                  <th>Full name</th>
                  <th>Email Address</th>
                  <th>Birthdate</th>
                  <th>User Since</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in userList" ng-click="editUser(item, $event)" style="cursor: pointer;">
                  <td>
                    <a href="" ng-click="CommonUtil.openURL($event, item.avatar)">
                      <img ng-src="{{CommonUtil.getAvatarThumbnail(item.avatar, item)}}" style="height:60px;">
                    </a>
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.email||item.username}}</td>
                  <!--<td>{{item.rank}}</td>
                  <td>{{item.points}}</td>
                  <td>{{item.volunteerHours}}</td>-->
                  <td><nobr>{{item.birthdate}}</nobr></td>
                  <td><nobr>{{CommonUtil.formatDateWithFormat(item._bmd.createdAt, 'MMM DD,YYYY hh:mm a')}}</nobr></td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12 text-center">
                  <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                </div>
              </div>
            </div>
          </div>
        </panel>
      </div>
      <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
        <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
          <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="createUser.html">
      <div class="modal-header">
        <h3 class="modal-title">Create User</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal"  name="form.validateForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
              <input class="form-control" ng-model="user.name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Email Address</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" ng-model="user.email" required>
            </div>
          </div>
           <div class="form-group">
              <label class="col-sm-3 control-label">Gender</label>
              <div class="col-sm-9" style="padding-top:5px">
                  <label class="radio-inline">
                      <input icheck name="gender_group" type="radio" ng-model="user.gender" value="male"> Male
                   </label>
                <label class="radio-inline">
                  <input icheck name="gender_group" type="radio" ng-model="user.gender" value="female"> Female
                </label>
                <label class="radio-inline">
                  <input icheck name="gender_group" type="radio" ng-model="user.gender" value="other"> Other
                </label>
                <label class="radio-inline">
                  <input icheck name="gender_group" type="radio" ng-model="user.gender" value=""> Prefer not to say
                </label>
               </div>
           </div>
           <div class="form-group">
               <label class="col-sm-3 control-label">Birthdate</label>
               <div class="col-sm-9">
                   <div class="input-group">
                       <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="MMMM d, yyyy" ng-model="BirthDate" is-open="openedDateSelector[1]" close-text="Close"/>
                       <div class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openDateWindow($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                       </div>
                   </div>
               </div>
           </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password" ng-model="user.password" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" password-verify="user.password" ng-model="user.passwordConfirm" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Default Avatar</label>
            <div class="col-sm-9">
              <select ng-model="user.defaultAvatar" class="form-control w100">
                <option ng-repeat="item in CommonUtil.animals" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Avatar</label>
            <div class="col-sm-9 upload-file-container pointer" ng-click="selectFileOpen('userAvatarFile', $event)">
              <div ng-hide="user.avatar" style="height: 120px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'userAvatar')">
                <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                  Drop photo here to upload.
                </div>
              </div>
              <div ng-show="user.avatar" drag-and-drop drop-handler="onFileUpload(files,'userAvatar')">
                <a href="" ng-click="CommonUtil.openURL($event, user.avatar)">
                <img ng-src="{{CommonUtil.getAvatarThumbnail(user.avatar)}}" style="max-width: 100%">
                </a>
                <i class="glyphicon glyphicon-trash" ng-click="deleteFile('userAvatar', $event)"></i>
                <input type="file" name="userAvatar" id="userAvatarFile" onchange="angular.element(this).scope().onFileUpload(this.files,'userAvatar');" aria-label="userAvatar" ng-show="false">
              </div>
              <div data-ng-show="isUploading['userAvatar']" class="file-loading">
                <div style="margin-top: 70px;">
                  <div class="file-progress">
                    <div class="progress-bar-warning" style="width:{{fileProgress['userAvatar']}}%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Cancel</button>
        <button class="btn btn-primary" ng-click="createUserDo()"  ng-disabled="!canSubmitValidationForm()||isSaving">
          <span ng-show="isSaving"><i class="fa fa-spinner fa-spin"></i> Saving...</span>
          <span ng-hide="isSaving" class="">Save User</span>
        </button>
      </div>
    </script>
  </div> <!-- container-fluid -->
</div>
