<div ng-controller="CommunityUserEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/communityUsers">Users</a></li>
            <li class="active">{{user.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="padding:20px; border:0px; border-color:#ffffff">
            <tab heading="Profile" style="border:0px; border-color:#ffffff">
                <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
                    <button class="btn btn-primary pull-right" ng-click="saveUserDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                    <button class="btn btn-danger pull-right" style="margin-right:10px;"  ng-click="deleteUser()" ng-show="user.username?(user.username!='admin'):false" >Delete</button>
                    <button class="btn btn-default pull-right" style="margin-right:10px"  ng-click="changePassword()">Change Password</button>
                </div>
                <div style="border-top: 1px solid rgba(0, 0, 0, 0.15);padding-top:20px">
                    <form class="form-horizontal"  name="form.validateForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Client Admin</label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="user.communityAdmin" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="user.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email Address</label>
                            <div class="col-sm-6">
                                <input class="form-control" ng-model="user.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-8" style="padding-top:5px">
                                <label class="radio-inline">
                                    <input icheck name="gender_group" type="radio" ng-model="user.gender" value="male"> Male
                                </label>
                                <label class="radio-inline">
                                    <input icheck name="gender_group" type="radio" ng-model="user.gender" value="female"> Female
                                </label>
                                <label class="radio-inline">
                                    <input icheck name="gender_group" type="radio" ng-model="user.gender" value="other"> Other
                                </label>
                                <label class="radio-inline">
                                    <input icheck name="gender_group" type="radio" ng-model="user.gender" value=""> Prefer not to say
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Birthdate</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" spellcheck="false" class="form-control datepicker" datepicker-popup="yyyy-MM-dd" ng-model="BirthDate" is-open="openedDateSelector[1]" close-text="Close"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDateWindow($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Share Activity</label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="user.shareActivity" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Default Avatar</label>
                            <div class="col-sm-6">
                                <select ng-model="user.defaultAvatar" class="form-control w100" required>
                                    <option value="">Select a avatar</option>
                                    <option ng-repeat="item in CommonUtil.animals" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Avatar</label>
                            <div class="col-sm-6 upload-file-container pointer" ng-click="selectFileOpen('userAvatarFile', $event)">
                                <div ng-hide="user.avatar" style="height: 120px; line-height: 1.5;" class="drop-container" drag-and-drop drop-handler="onFileUpload(files,'userAvatar')">
                                    <div class="drop-informer" style="position: relative; top: 50%; margin-top: -19px;">
                                        Drop photo here to upload.
                                    </div>
                                </div>
                                <div ng-show="user.avatar" drag-and-drop drop-handler="onFileUpload(files,'userAvatar')">
                                    <a href="" ng-click="CommonUtil.openURL($event, user.avatar)">
                                    <img ng-src="{{CommonUtil.getAvatarThumbnail(user.avatar)}}" style="width: 100px">
                                    </a>
                                    <i class="glyphicon glyphicon-trash" ng-click="deleteFile('userAvatar', $event)"></i>
                                    <input type="file" name="userAvatar" id="userAvatarFile" onchange="angular.element(this).scope().onFileUpload(this.files,'userAvatar');" aria-label="userAvatar" ng-show="false">
                                </div>
                                <div data-ng-show="isUploading['userAvatar']" class="file-loading">
                                    <div style="margin-top: 70px;">
                                        <div class="file-progress">
                                            <div class="progress-bar-warning" style="width:{{fileProgress['userAvatar']}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Teams</label>
                            <div class="col-sm-6">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.teams" theme="bootstrap" close-on-select="false" title="Select teams">
                                        <ui-select-match placeholder="Select teams">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in teamList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/ng-template" id="changePassword.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Change Password</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal"  name="form.validateForm">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" name="password" ng-model="user.password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Confirm Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" password-verify="user.password" ng-model="user.passwordConfirm" required>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" ng-click="close()">Cancel</button>
                            <button class="btn btn-primary" ng-click="changePasswordDo()"  ng-disabled="!canSubmitValidationForm()">Save</button>
                        </div>
                    </script>
                </div>
            </tab>
            <tab heading="User Activity" style="border:0px; border-color:#ffffff">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12 text-right">
                                <!--<button class="btn btn-primary" ng-click="createActivity($event)">New Activity</button>-->
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Activity Summary</th>
                                            <th>Created At</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in activityList">
                                            <td>
                                                {{item.summary}}
                                            </td>
                                            <td>
                                                <nobr>{{CommonUtil.formatDateWithFormat(item._bmd.createdAt, 'MMM DD,YYYY hh:mm a')}}</nobr>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger pull-right" ng-click="deleteActivity(item._id, $event)">Delete</button>
                                            </td>
                                        </tr>
                                        <tr ng-if="activityList.length == 0">
                                            <td colspan="3" class="text-center">
                                                There is no data
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                            <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                                <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
    </div> <!-- container-fluid -->
</div>
