<div ng-controller="LeaderboardController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">Leaderboards</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2>{{userIdList.length}} Users, {{totalPoints}} Points</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-3" ng-if="!user.communityAdmin">
                            <div class="input-icon right mb10" >
                                <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="selectClient()">
                                    <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in communityList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-icon right mb10" >
                                <ui-select style="width:100%" ng-model="filter.category" title="All Activities" on-select="selectClient()">
                                    <ui-select-match placeholder="All Activities">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in categories | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-icon right mb10" ng-if="filter.community._id">
                                <ui-select style="width:100%" ng-model="filter.sprint" title="Select a sprint" on-select="getList()">
                                    <ui-select-match placeholder="Select a sprint">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in sprintList | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-2 text-right pull-right">
                            <button class="btn btn-primary" ng-click="reset()">Reset</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Avatar</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ua in userList track by $index">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        <img ng-src="{{CommonUtil.getAvatarThumbnail(ua.avatar, ua)}}" alt={{ua.name}} class="img-circle" style="width: 30px; height: 30px;">
                                    </td>
                                    <td>
                                        <strong>{{ua.name}}</strong>
                                    </td>
                                    <td>
                                        {{ua.email}}
                                    </td>
                                    <td>
                                        {{userPoints[ua._id]}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row" ng-if="isMore">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-default" ng-click="loadMore()">Load More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </panel>
                <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                    <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
