<div ng-controller="ActionEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/actions">Actions</a></li>
            <li class="active">{{action.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="border:0px; border-color:#ffffff">
            <tab heading="Action" style="border:0px; border-color:#ffffff">
                <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
                    <button class="btn btn-primary pull-right" ng-click="saveActionDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                </div>
                <div class="panel" style="padding:20px;border-top: 1px solid rgba(0, 0, 0, 0.15);">
                    <form class="form-horizontal"  name="form.validateForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Enabled</label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="action.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="action.name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tracking Pixel URL</label>
                            <div class="col-sm-9">
                                <a class="form-control w-s--nw of--h t-o--e" target="_blank" ng-href="{{CommonUtil.getPixelUrl('action', action._id)}}">{{CommonUtil.getPixelUrl('action', action._id)}}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <div ckeditor="CommonUtil.ckeditorOptions" ng-model="action.description"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Internal Notes</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="action.notes" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cover Image</label>
                            <div class="col-sm-6">
                                <div class="upload-file-container pointer" style="width:320px;height:160px" ng-click="selectFileOpen('coverImageFile',$event)">
                                    <div ng-hide="action.coverImage" style="height:160px;background-image: url('{{uploadingFileUrl}}');background-size:cover" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                                        <div class="drop-informer">
                                            Drop image here or <a href="" ng-click="searchImages2($event, 'coverImage')">search for one</a>
                                        </div>
                                    </div>
                                    <div ng-if="action.coverImage">
                                        <a href="{{CommonUtil.getDownloadURL(action.coverImage)}}" target="_blank">
                                            <img ng-src="{{CommonUtil.getSmallImage3(action.coverImage)}}"  class="coverPhoto">
                                        </a>
                                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                                    </div>
                                    <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage','image');">
                                    <div data-ng-show="isUploading['coverImage']" class="file-loading">
                                        <div style="margin-top: 70px;">
                                            <div class="file-progress">
                                                <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categories</label>
                            <div class="col-sm-9">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.categories" theme="bootstrap" close-on-select="false" title="Select categories" on-select="valueSelected($select)">
                                        <ui-select-match placeholder="Select categories">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in categoryList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tags</label>
                            <div class="col-sm-9">
                                <ui-select class="w100" multiple tagging tagging-label="false" ng-model="action.tags" theme="bootstrap" >
                                    <ui-select-match placeholder="Add tags">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="item in tagList | filter:$select.search">
                                        {{item}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group"  ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Collections</label>
                            <div class="col-sm-9">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.collections" theme="bootstrap" close-on-select="false" title="Select collections">
                                        <ui-select-match placeholder="Select collections">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in collectionList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Client</label>
                            <div class="col-sm-9">
                                <select ng-model="action.community" class="form-control w100">
                                    <option value="">None</option>
                                    <option ng-repeat="item in communityList" value="{{item._id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Points</label>
                            <div class="col-sm-9">
                                <input input-number type="number" class="form-control" ng-model="action.points">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Time Required</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="action.timeRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Call to Action</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="action.callToAction">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website URL</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" ng-model="action.url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website URL</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" ng-model="action.url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Start Month</label>
                            <div class="col-sm-3">
                                <select ng-model="action.startMonth" class="form-control">
                                    <option value="">Select a month</option>
                                    <option ng-repeat="item in CommonUtil.months" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                            <label class="col-sm-3 control-label">Start Day</label>
                            <div class="col-sm-3">
                                <select ng-model="action.startDay" class="form-control">
                                    <option value="">Select a day</option>
                                    <option ng-repeat="item in CommonUtil.days" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">End Month</label>
                            <div class="col-sm-3">
                                <select ng-model="action.endMonth" class="form-control">
                                    <option value="">Select a month</option>
                                    <option ng-repeat="item in CommonUtil.months" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                            <label class="col-sm-3 control-label">End Day</label>
                            <div class="col-sm-3">
                                <select ng-model="action.endDay" class="form-control">
                                    <option value="">Select a day</option>
                                    <option ng-repeat="item in CommonUtil.days" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Repeatable</label>
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="action.repeatable" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <!--style="border: 1px solid #ff0000"-->
                        <div class="form-group" ng-if="action.repeatable">
                            <label class="col-sm-3 control-label">Repeat Interval</label>
                            <div class="col-sm-3" >
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="col-sm-3 form-control" style="float:left" ng-model="formData.intervalminute" min="0" max="60">
                                </div>
                                <label class="col-sm-3 control-label">(min)</label>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="form-control" ng-model="formData.intervalhour" min="0" max="23">
                                </div>
                                <label class="col-sm-3 control-label">(hour)</label>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-8" style="padding:0">
                                    <input input-number type="number" class="form-control" ng-model="formData.intervalday" min="0">
                                </div>
                                <label class="col-sm-3 control-label">(day)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="bottom-button no-border" style="padding-top: 0">
                    <button class="btn btn-primary pull-right" ng-click="saveActionDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                </div>
            </tab>
            <tab heading="User Activity" style="border:0px; border-color:#ffffff">
                <ng-include src="'views/templates/userActivities.html'"></ng-include>
            </tab>
        </tabset>
    </div> <!-- container-fluid -->
</div>
