<div ng-controller="ActivityController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <!--<li><a href="#/">DashBoard</a></li>-->
            <li class="active">User Activity</li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <panel panel-class="panel-default">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <h2>{{collectionView.totalItems}} User Activity</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-icon right mb10">
                                        <i class="fa fa-search"></i>
                                        <input type="text" ng-model="collectionView.searchTerm" class="form-control" placeholder="Search Filter" ng-enter="onSearch()">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-icon right mb10">
                                        <select class="form-control" ng-model="filter.type" ng-change="loadList()">
                                            <option value="">All Types</option>
                                            <option ng-repeat="item in activityTypes"
                                                    value="{{item.value}}"
                                                    ng-selected="filter.type==item.value?'selected':''">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-icon right mb10">
                                        <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="loadList()">
                                            <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in communityList | filter: $select.search">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right">
                                    <div class="input-icon right mb10" ng-if="teams.length>0">
                                        <ui-select style="width:100%" ng-model="filter.team" title="Select a Team" on-select="loadList()">
                                            <ui-select-match placeholder="Select a Team">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in teams | filter: $select.search">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button class="btn btn-primary" ng-click="reset()">Reset</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>User Avatar</th>
                                    <th>User Name</th>
                                    <th>Client</th>
                                    <th>Activity Summary</th>
                                    <th>When</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in activityList">
                                    <td>
                                        <a href="" ng-click="CommonUtil.openURL($event, item.user.avatar)">
                                        <img ng-src="{{CommonUtil.getAvatarThumbnail(item.user.avatar, item.user)}}" style="height:60px;">
                                        </a>
                                    </td>
                                    <td>
                                        {{item.user.name}}
                                    </td>
                                    <td>
                                        {{item.community.name}}
                                    </td>
                                    <td>
                                        {{item.summary}}
                                    </td>
                                    <td>
                                        <nobr>{{CommonUtil.formatDateWithFormat(item._bmd.createdAt, 'MMM DD,YYYY hh:mm a')}}</nobr>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteActivity(item._id, $event)">Delete</button>
                                    </td>
                                </tr>
                                <tr ng-if="activityList.length == 0">
                                    <td colspan="6" class="text-center">
                                        There is no data
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <pagination class="mb5 pagination-sm" items-per-page="collectionView.itemsPerPage" total-items="collectionView.totalItems" ng-model="collectionView.currentPage" max-size="10" ng-change="onPageChange()"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </panel>
                <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.4);text-align: center;">
                    <div style="background-color: rgba(255,255,255,0.7); margin: 3px;">
                        <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>
