<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MilkCrate Admin</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="favicon.png">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ie8.css">
	<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
	<script type="text/javascript" src="bower_components/flot/excanvas.min.js"></script>
	<script type='text/javascript' src='assets/plugins/misc/placeholdr.js'></script>
	<script type="text/javascript" src="assets/plugins/misc/media.match.min.js"></script>
	<![endif]-->

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG7YnJfEloAkJQ3Xdo6vWWippEk_X2xMM"></script>

</head>

<body id="app"
	  ng-controller="MainController"
	  class="navbar-default {{getLayoutOption('sidebarThemeClass')}}"
	  ng-class="{
			  'static-header': !getLayoutOption('fixedHeader'),
			  'focusedform': getLayoutOption('fullscreen'),
			  'layout-horizontal': getLayoutOption('layoutHorizontal'),
			  'fixed-layout': getLayoutOption('layoutBoxed'),
			  'sidebar-collapsed': getLayoutOption('leftbarCollapsed') && !getLayoutOption('leftbarShown'),
			  'show-infobar': getLayoutOption('rightbarCollapsed'),
			  'show-sidebar': getLayoutOption('leftbarShown')
			}"
	  ng-click="hideHeaderBar();hideChatBox()"
	  animate-page-content
	  faux-offcanvas
	  to-top-on-load
>

<div ng-include="'views/templates/custom-styles.html'"></div>

<ng-include src="'views/layout/header.html'"></ng-include>

<div id="wrapper">
	<div id="layout-static">
		<div class="static-sidebar-wrapper" ng-show="!layoutLoading">
			<nav class="static-sidebar" role="navigation">
				<ul ng-controller="NavigationController" id="sidebar" sticky-scroll="50">
					<li ng-repeat="item in menu"
						ng-class="{ hasChild: (item.children!==undefined),
										active: item.selected,
										  open: (item.children!==undefined) && item.open,
							   'nav-separator': item.separator==true,
		            			'search-focus': (searchQuery.length>0 && item.selected) }"
						ng-show="!(searchQuery.length && !item.selected)"
						ng-include="'templates/nav_renderer.html'"
					></li>
					<!--<div ng-if="isAdmin && uncodedBusinessCount>0">
                        <h4 style="color: #fff;margin: 10px 10px 0 10px;border-bottom: 1px solid #777;"><i class="fa fa-wrench"></i>Utilities</h4>
                        <li>
                            <a ng-click="geocodeBusiness($event)" ng-href="#" class="ng-scope">
                                <span class="ng-binding"><i class="fa {{runningBulk?'fa-spinner fa-spin':'fa-circle-o'}}"></i>Geocode {{uncodedBusinessCount}} Uncoded Places</span>
                            </a>
                        </li>
                    </div>-->
				</ul>
			</nav> <!-- #sidebar-->
			<div class="builddate"></div>
		</div>
		<div class="static-content-wrapper">
			<div class="static-content">
				<div id="wrap" ng-view="" class="mainview-animation animated" ng-if="!layoutLoading">
				</div> <!--wrap -->
			</div>
		</div>
	</div>
</div>

<div ng-include="'views/layout/infobar.html'" class="infobar-wrapper"></div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/modernizr/modernizr.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/jquery.ui/ui/jquery.ui.core.js"></script>
<script src="../bower_components/jquery.ui/ui/jquery.ui.widget.js"></script>
<script src="../bower_components/jquery.ui/ui/jquery.ui.mouse.js"></script>
<script src="../bower_components/jquery.ui/ui/jquery.ui.draggable.js"></script>
<script src="../bower_components/jquery.ui/ui/jquery.ui.sortable.js"></script>
<script src="../bower_components/jquery.ui/ui/jquery.ui.resizable.js"></script>
<script src="../bower_components/angular-ui-select/dist/select.js"></script>
<script src="../bower_components/jquery.easing/js/jquery.easing.js"></script>
<script src="../bower_components/flot/jquery.flot.js"></script>
<script src="../bower_components/flot/jquery.flot.stack.js"></script>
<script src="../bower_components/flot/jquery.flot.pie.js"></script>
<script src="../bower_components/flot/jquery.flot.resize.js"></script>
<script src="../bower_components/flot/jquery.flot.time.js"></script>
<script src="../bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="../bower_components/ng-grid/build/ng-grid.js"></script>
<script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="../bower_components/iCheck/icheck.min.js"></script>
<script src="../bower_components/google-code-prettify/src/prettify.js"></script>
<script src="../bower_components/bootbox.js/bootbox.js"></script>
<script src="../bower_components/jquery-autosize/jquery.autosize.js"></script>
<script src="../bower_components/jquery.pulsate/jquery.pulsate.js"></script>
<script src="../bower_components/jquery.knob/js/jquery.knob.js"></script>
<script src="../bower_components/jquery.sparkline/index.js"></script>
<script src="../bower_components/flow.js/dist/flow.js"></script>
<script src="../bower_components/ng-flow/dist/ng-flow.js"></script>
<script src="../bower_components/enquire/dist/enquire.js"></script>
<script src="../bower_components/shufflejs/dist/jquery.shuffle.js"></script>
<script src="../bower_components/pnotify/pnotify.core.js"></script>
<script src="../bower_components/pnotify/pnotify.buttons.js"></script>
<script src="../bower_components/pnotify/pnotify.callbacks.js"></script>
<script src="../bower_components/pnotify/pnotify.confirm.js"></script>
<script src="../bower_components/pnotify/pnotify.desktop.js"></script>
<script src="../bower_components/pnotify/pnotify.history.js"></script>
<script src="../bower_components/pnotify/pnotify.nonblock.js"></script>
<script src="../bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
<script src="../bower_components/angular-nanoscroller/scrollable.js"></script>
<script src="../bower_components/rangy/rangy-core.js"></script>
<script src="../bower_components/rangy/rangy-classapplier.js"></script>
<script src="../bower_components/rangy/rangy-highlighter.js"></script>
<script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="../bower_components/rangy/rangy-serializer.js"></script>
<script src="../bower_components/rangy/rangy-textrange.js"></script>
<script src="../bower_components/textAngular/src/textAngular.js"></script>
<script src="../bower_components/textAngular/src/textAngular-sanitize.js"></script>
<script src="../bower_components/textAngular/src/textAngularSetup.js"></script>
<script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="../bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="../bower_components/transitionize/dist/transitionize.js"></script>
<script src="../bower_components/fastclick/lib/fastclick.js"></script>
<script src="../bower_components/switchery/dist/switchery.js"></script>
<script src="../bower_components/ng-switchery/src/ng-switchery.js"></script>
<script src="../bower_components/ng-sortable/dist/ng-sortable.js"></script>
<script src="../bower_components/angular-meditor/dist/meditor.min.js"></script>
<script src="../bower_components/skycons/skycons.js"></script>
<script src="../bower_components/angular-skycons/angular-skycons.js"></script>
<script src="../bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/nvd3/nv.d3.js"></script>
<script src="../bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<script src="../bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="../bower_components/skylo/vendor/scripts/skylo.js"></script>
<script src="../bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.js"></script>
<script src="../bower_components/bootstrap-datepaginator/dist/bootstrap-datepaginator.min.js"></script>
<script src="../bower_components/velocity/velocity.js"></script>
<script src="../bower_components/velocity/velocity.ui.js"></script>
<script src="../bower_components/angular-elastic/elastic.js"></script>
<script src="../bower_components/angular-base64/angular-base64.js"></script>
<script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/ace.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/mode-javascript.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/theme-chrome.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/mode-liquid.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/mode-json.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/worker-json.js"></script>
<script src="../bower_components/ace-builds/src-noconflict/ext-searchbox.js"></script>
<script src="../bower_components/angular-ui-ace/ui-ace.js"></script>
<script src="../bower_components/async/dist/async.js"></script>
<script src="../bower_components/markdown/lib/markdown.js"></script>
<script src="../bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="../bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
<script src="../bower_components/moment-timezone/builds/moment-timezone-with-data-2012-2022.js"></script>
<script src="../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
<script src="../bower_components/fullcalendar/fullcalendar.js"></script>
<script src="../bower_components/fullcalendar/gcal.js"></script>
<script src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="../bower_components/angular-ckeditor/angular-ckeditor.js"></script>
<script src="../bower_components/ng-csv/build/ng-csv.min.js"></script>
<!-- endbower -->
<script type='text/javascript' src='assets/plugins/form-colorpicker/js/bootstrap-colorpicker.min.js'></script>
<script type='text/javascript' src='assets/plugins/form-fseditor/jquery.fseditor-min.js'></script>
<script type='text/javascript' src='assets/plugins/form-jasnyupload/fileinput.min.js'></script>
<script type='text/javascript' src='assets/plugins/flot/jquery.flot.spline.js'></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/core/bend-angular-1.1.8.js"></script>
<script src="scripts/controller/controllers.js"></script>
<script src="scripts/core/controllers/mainController.js"></script>
<script src="scripts/core/controllers/messagesController.js"></script>
<script src="scripts/core/controllers/navigationController.js"></script>
<script src="scripts/core/controllers/notificationsController.js"></script>
<script src="scripts/core/directives/directives.js"></script>
<script src="scripts/core/directives/form.js"></script>
<script src="scripts/core/directives/ui.js"></script>
<script src="scripts/core/modules/templateOverrides.js"></script>
<script src="scripts/core/modules/templates.js"></script>
<script src="scripts/core/modules/panels/ngDraggable.js"></script>
<script src="scripts/core/modules/panels/panels.js"></script>
<script src="scripts/core/modules/panels/directives.js"></script>
<script src="scripts/core/services/services.js"></script>
<script src="scripts/core/services/theme.js"></script>
<script src="scripts/core/theme.js"></script>
<script src="scripts/calendar/calendar.js"></script>
<script src="scripts/chart/canvas.js"></script>
<script src="scripts/chart/flot.js"></script>
<script src="scripts/chart/morris.js"></script>
<script src="scripts/chart/sparklines.js"></script>
<script src="scripts/gallery/gallery.js"></script>
<script src="scripts/common/Directives.js"></script>
<script src="scripts/common/Model.js"></script>
<script src="scripts/common/Util.js"></script>
<script src="scripts/common/BendAuth.js"></script>
<script src="scripts/common/BendService.js"></script>
<script src="scripts/common/BendPusher.js"></script>
<script src="scripts/common/Services.js"></script>
<script src="scripts/controller/SigninControllers.js"></script>
<script src="scripts/controller/UserController.js"></script>
<script src="scripts/controller/UserEditController.js"></script>
<script src="scripts/controller/dashboard.js"></script>
<script src="scripts/controller/ActionController.js"></script>
<script src="scripts/controller/ActionEditController.js"></script>
<script src="scripts/controller/BusinessController.js"></script>
<script src="scripts/controller/BusinessEditController.js"></script>
<script src="scripts/controller/ChallengeController.js"></script>
<script src="scripts/controller/ChallengeEditController.js"></script>
<script src="scripts/controller/ActivityController.js"></script>
<script src="scripts/controller/ActivityEditController.js"></script>
<script src="scripts/controller/UserActivityEditController.js"></script>
<script src="scripts/controller/CategoryController.js"></script>
<script src="scripts/controller/CommunityController.js"></script>
<script src="scripts/controller/CommunityEditController.js"></script>
<script src="scripts/controller/CollectionController.js"></script>
<script src="scripts/controller/EventController.js"></script>
<script src="scripts/controller/EventEditController.js"></script>
<script src="scripts/controller/VolunteeringController.js"></script>
<script src="scripts/controller/VolunteeringEditController.js"></script>
<script src="scripts/controller/CertificationController.js"></script>
<script src="scripts/controller/PushTemplatesController.js"></script>
<script src="scripts/controller/PushController.js"></script>
<script src="scripts/controller/PollQuestionController.js"></script>
<script src="scripts/controller/PollQuestionEditController.js"></script>
<script src="scripts/controller/community/CommunityActivityController.js"></script>
<script src="scripts/controller/community/CommunityActivityEditController.js"></script>
<script src="scripts/controller/SprintController.js"></script>
<script src="scripts/controller/community/CommunityUserController.js"></script>
<script src="scripts/controller/community/CommunityUserEditController.js"></script>
<script src="scripts/controller/community/CommunityUserActivityEditController.js"></script>
<script src="scripts/controller/ActivityTabController.js"></script>
<script src="scripts/controller/TeamController.js"></script>
<script src="scripts/controller/TeamEditController.js"></script>
<script src="scripts/controller/CalendarController.js"></script>
<script src="scripts/controller/ContentController.js"></script>
<script src="scripts/controller/UtilityController.js"></script>
<script src="scripts/controller/LeaderboardController.js"></script>
<script src="scripts/controller/TasksController.js"></script>
<script src="scripts/controller/CommunityWhiteLabelController.js"></script>
<script src="scripts/controller/CommunityPushTabController.js"></script>
<script src="scripts/controller/CommunityPushController.js"></script>
<script src="scripts/controller/CarbonTrackingController.js"></script>
<!-- endbuild -->
</body>
</html>
