<div ng-controller="ChallengeCalendarController" style="position: relative">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active">Challenge Calendar</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="pull-left">
                        <h2>Challenge Calendar</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-icon right mb10">
                        <ui-select style="width:100%" ng-model="filter.community" title="Select a Client" on-select="getChallengeList()">
                            <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in communityList | filter: $select.search">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="isLoading" style="width: 100%; height: 100%; position: absolute; top:0; left:0; background-color:rgba(255,255,255,0.5);text-align: center;">
        <div style="margin: 300px auto;">
            <p><i class="fa fa-spinner fa-spin"></i> Loading...</p>
        </div>
    </div>
</div>
