<div ng-controller="BusinessEditController">
    <div id="page-heading">
        <ol class="breadcrumb">
            <li><a href="#/businesses">Places</a></li>
            <li class="active">{{business.name}}</li>
        </ol>
    </div>
    <div class="container-fluid">
        <tabset tab-theme="midnightblue" tab-position="top"  style="border:0px; border-color:#ffffff">
            <tab heading="Place" style="border:0px; border-color:#ffffff">
                <div style="display: inline-block;width:100%;padding:10px 10px 5px 10px;">
                    <button class="btn btn-primary pull-right" ng-click="saveBusinessDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                    <!--<button class="btn btn-danger pull-right" style="margin-right:10px;"  ng-click="deleteBusiness()" >Delete</button>-->
                </div>
                <div style="float: right; width: 40%; margin-top: 20px;" align="center">
                <!--    <img src="http://via.placeholder.com/320x570" style="max-width: 80%" />-->
                </div>
                <div class="panel" style="padding:20px; border: 0; width: 60%; float: left;">
                    <form class="form-horizontal"  name="form.validateForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Enabled</label>
                            <div class="col-sm-9 pr40">
                                <input type="checkbox" ng-model="business.enabled" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.name" required>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tracking Pixel URL</label>
                            <div class="col-sm-9 pr40">
                                <a class="form-control w-s--nw of--h t-o--e" target="_blank" ng-href="{{CommonUtil.getPixelUrl('business', business._id)}}">
                                    {{CommonUtil.getPixelUrl('business', business._id)}}
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Owner</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.owner">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9 pr40">
                                <div ckeditor="CommonUtil.ckeditorOptions" ng-model="business.description"></div>
                                <!--<textarea class="form-control" ng-model="business.description" rows="4"></textarea>-->
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Internal Notes</label>
                            <div class="col-sm-9 pr40">
                                <textarea class="form-control" ng-model="business.notes" rows="4"></textarea>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cover Image</label>
                            <div class="col-sm-6">
                                <div class="upload-file-container pointer" style="width:320px;height:160px" ng-click="selectFileOpen('coverImageFile',$event)">
                                    <div ng-hide="business.coverImage" style="height:160px;background-image: url('{{uploadingFileUrl}}');background-size:cover" class="drop-container" drag-and-drop drop-handler="onFileUpload(files, 'coverImage')">
                                        <div class="drop-informer">
                                            Drop image here or <a href="" ng-click="searchImages2($event, 'coverImage')">search for one</a>
                                        </div>
                                    </div>
                                    <div ng-if="business.coverImage">
                                        <a href="{{CommonUtil.getDownloadURL(business.coverImage)}}" target="_blank">
                                            <img ng-src="{{CommonUtil.getSmallImage3(business.coverImage)}}"  class="coverPhoto">
                                        </a>
                                        <i class="glyphicon glyphicon-trash" ng-click="deleteFile('coverImage', $event)"></i>
                                    </div>
                                    <input type="file" id="coverImageFile" aria-label="coverImageFile" ng-show="false" onchange="angular.element(this).scope().onFileUpload(this.files, 'coverImage','image');">
                                    <div data-ng-show="isUploading['coverImage']" class="file-loading">
                                        <div style="margin-top: 70px;">
                                            <div class="file-progress">
                                                <div class="progress-bar-warning" style="width:{{fileProgress['coverImage']}}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 1</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.address1">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address 2</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.address2">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.city">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9 pr40">
                                <select ng-model="business.state" class="form-control w100">
                                    <option value="">Select a State</option>
                                    <option ng-repeat="item in stateList" value="{{item}}">{{item}}</option>
                                </select>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-sm-3 control-label">Postal Code</label>
                        <div class="col-sm-9 pr40">
                            <input class="form-control" ng-model="business.postalCode">
                            <!-- <div class="colored-marker">1</div> -->
                        </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Location</label>
                            <div class="col-sm-9 pr40">
                                <div class="row">
                                    <div class="col-sm-4" style="">
                                        <div class="col-sm-12" style="text-align: center;height:20px">
                                            <label style="">Latitude</label>
                                        </div>
                                        <input  class="form-control" ng-model="business._geoloc[1]" placeholder="Latitude">
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-12" style="text-align: center;height:20px">
                                            <label>Longitude</label>
                                        </div>
                                        <input  class="form-control" ng-model="business._geoloc[0]" placeholder="Longitude">
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-12" style="text-align: center;height:20px">
                                            <label></label>
                                        </div>
                                        <button class="btn btn-primary w100" ng-click="geocodeAddress()">Geocode</button>
                                    </div>
                                </div>
                                <!-- <div class="colored-marker mt20">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Points</label>
                            <div class="col-sm-9 pr40">
                                <input type="number" class="form-control" ng-model="business.points" placeholder="Points">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Checkin Radius</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.checkinRadius" placeholder="300">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone number</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.phoneNumber">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Website URL</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.url">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Facebook URL</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.facebookUrl">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Twitter URL</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.twitterUrl">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Instagram URL</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.instagramUrl">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.email">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categories</label>
                            <div class="col-sm-9 pr40">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.categories" theme="bootstrap" close-on-select="false" title="Select categories" on-select="valueSelected($select)">
                                        <ui-select-match placeholder="Select categories">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in categoryList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                </div>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tags</label>
                            <div class="col-sm-9 pr40">
                                <ui-select class="w100" multiple tagging tagging-label="false" ng-model="business.tags" theme="bootstrap" >
                                    <ui-select-match placeholder="Add tags">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="item in tagList | filter:$select.search">
                                        {{item}}
                                    </ui-select-choices>
                                </ui-select>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Collections</label>
                            <div class="col-sm-9 pr40">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.collections" theme="bootstrap" close-on-select="false" title="Select collections" on-select="valueSelected($select)">
                                        <ui-select-match placeholder="Select collections">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in collectionList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                </div>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>

                        <div class="form-group" ng-if="!user.communityAdmin">
                            <label class="col-sm-3 control-label">Client</label>
                            <div class="col-sm-9 pr40">
                                <select ng-model="business.community" class="form-control w100">
                                    <option value="">None</option>
                                    <option ng-repeat="item in communityList" value="{{item._id}}">{{item.name}}</option>
                                </select>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">Points</label>
                            <div class="col-sm-9">
                                <input input-number type="number" class="form-control" ng-model="business.points">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Time Required</label>
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="business.timeRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Certifications</label>
                            <div class="col-sm-9 pr40">
                                <div class="w100" style="position:relative">
                                    <ui-select class="w100" multiple ng-model="formData.certifications" theme="bootstrap" close-on-select="false" title="Select certifications" on-select="valueSelected($select)">
                                        <ui-select-match placeholder="Select certifications">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in certificationList | filter:$select.search">
                                            {{item.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<button class="btn btn-default" style="top:0;left:0;position:absolute" ng-click="pickCategory($event)">Quick Pick</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Repeatable</label>
                            <div class="col-sm-9 pr40">
                                <input type="checkbox" ng-model="business.repeatable" class="js-switch" ui-switch="{color: '#4697ce', secondaryColor: '#c5cbd1'}" />
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <!--style="border: 1px solid #ff0000"-->
                        <div class="form-group" ng-if="business.repeatable">
                            <label class="col-sm-3 control-label">Repeat Interval</label>
                            <div class="col-sm-9 pr40">
                                <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="col-sm-6" style="padding:0">
                                            <input input-number type="number" class="form-control" ng-model="formData.intervalminute" min="0" max="60">
                                        </div>
                                        <label class="col-sm-3 control-label">min(s)</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-6" style="padding:0">
                                            <input input-number type="number" class="form-control" ng-model="formData.intervalhour" min="0" max="23">
                                        </div>
                                        <label class="col-sm-3 control-label">hour(s)</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-6" style="padding:0">
                                            <input input-number type="number" class="form-control" ng-model="formData.intervalday" min="0">
                                        </div>
                                        <label class="col-sm-3 control-label">day(s)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Foursquare Tags</label>
                            <div class="col-sm-9 pr40">
                                <ui-select class="w100" multiple tagging tagging-label="false" ng-model="business.foursquareTags" theme="bootstrap" >
                                    <ui-select-match placeholder="Add Foursquare Tags">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="item in tagList | filter:$select.search">
                                        {{item}}
                                    </ui-select-choices>
                                </ui-select>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Foursquare ID</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.foursquareID">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Foursquare URL</label>
                            <div class="col-sm-9 pr40">
                                <input class="form-control" ng-model="business.foursquareUrl">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price Tier</label>
                            <div class="col-sm-9 pr40">
                                <input input-number type="number" class="form-control" ng-model="business.priceTier" min="1" max="4">
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Place Hours</label>
                            <div class="col-sm-9 pr40" >
                                <div>
                                  <div class="col-sm-5" style="padding-bottom: 0px; padding-left: 0px;">
                                      <label class="text-left">Days<br><small>(MON-SAT or SUN)</small></label>
                                  </div>
                                  <div class="col-sm-7" style="padding-bottom: 0px;">
                                      <label class="text-left">Hours<br><small>(10-17, 10:30-19:00 or 10:00 AM - 7:00 PM)</small></label>
                                  </div>
                                </div>
                                <div class="col-sm-12" ng-show="!IsEmptyTimes" style="margin:10px 0 10px 0;padding:20px;font-weight:bold; font-size:16px;text-align:center;border:1px solid #eee;height:70px">Hours haven't been added</div>
                                <div ng-repeat="item in business.hours">
                                    <div class="row">
                                        <div class="col-sm-5" style="padding-top: 5px;">
                                            <input class="form-control" value="{{getDays(item)}}" name="days-input" style="text-transform:uppercase;"  onchange="angular.element(this).scope().onChange()">
                                        </div>
                                        <div class="col-sm-5" style="padding-top: 5px;">
                                            <input class="form-control" value="{{getOpenTimes(item)}}" name="times-input" style="text-transform:uppercase;" onchange="angular.element(this).scope().onChange()">
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 5px;">
                                            <i class="fa fa-remove fa-2x" ng-click="RemoveHour(item, $event)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding-top:10px; clear: both">
                                    <button class="btn btn-default" ng-click="AddHours()">Add</button>
                                </div>
                                <!-- <div class="colored-marker">1</div> -->
                            </div>
                         </div>
                        <input id="add_count" type="hidden" ng-model="add_count">
                    </form>
                </div>
                <div style="clear: both;"></div>
                <div class="bottom-button no-border">
                    <button class="btn btn-primary pull-right" ng-click="saveBusinessDo()" ng-disabled="!form.validateForm.$dirty">Save</button>
                </div>
            </tab>
            <tab heading="User Activity" style="border:0px; border-color:#ffffff">
                <ng-include src="'views/templates/userActivities.html'"></ng-include>
            </tab>
        </tabset>
    </div> <!-- container-fluid -->
</div>
